{% extends "error.html" %}
{% load i18n %}
{% block title %}{% trans "Permission denied" %}{% endblock %}
{% block content %}
    <i class="fa fa-lock big-icon"></i>
    <h1>{% trans "Permission denied" %}</h1>
    <p>{% trans "You do not have access to this page." %}</p>
    <p>{{ exception }}</p>
    <p class="links">
        <a href="javascript:history.back()">{% trans "Take a step back" %}</a>
        &middot; <a href="javascript:location.reload()">{% trans "Try again" %}</a>
    </p>
{% endblock %}