{% extends "error.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Not found" %}{% endblock %}
{% block content %}
    <i class="fa fa-meh-o fa-fw big-icon"></i>
    <div class="error-details">
        <h1>{% trans "Not found" %}</h1>
        <p>{% trans "I'm afraid we could not find the the resource you requested." %}</p>
        <p>{{ exception }}</p>
        <p class="links">
            <a id='goback' href='#'>{% trans "Take a step back" %}</a>
        </p>
        {% if request.user.is_staff and not staff_session %}
            <form action="{% url 'control:user.sudo' %}?next={{ request.path|urlencode }}" method="post">
                <p>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default" id="button-sudo">
                        <i class="fa fa-id-card"></i> {% trans "Admin mode" %}
                    </button>
                </p>
            </form>
        {% endif %}
        <img src="{% static "pretixbase/img/pretix-logo.svg" %}" class="logo"/>
    </div>
{% endblock %}
