{% load i18n %}
{% if closed %}
    <span class="label label-danger">{% trans "Closed" %}</span>
{% elif availability.0 == 10 %}
    <span class="label label-warning">{% trans "Sold out (pending orders)" %}</span>
{% elif availability.0 == 100 %}
    {% if availability.1 != None %}
        <span class="label label-success">{% blocktrans trimmed with num=availability.1 %}
            {{ num }} available{% endblocktrans %}</span>
    {% else %}
        <span class="label label-success">{% trans "Unlimited" %}</span>
    {% endif %}
{% elif availability.0 == 20 %}
    <span class="label label-warning">{% trans "Fully reserved" %}</span>
{% elif availability.0 == 0 %}
    <span class="label label-danger">{% trans "Sold out" %}</span>
{% endif %}
