{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Edit entry" %}{% endblock %}
{% block content %}
    <h1>{% trans "Edit entry" %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <p>{% blocktrans trimmed context "subevent" %}
            Please make the desired changes to the following waiting list entry: <strong>{{ entry }}</strong>
        {% endblocktrans %}</p>

        {% if form.subevent %}
            {% bootstrap_field form.subevent layout="control" %}
        {% endif %}

        {% bootstrap_field form.email layout="control" %}

        {% if form.name_parts %}
            {% bootstrap_field form.name_parts layout="control" %}
        {% endif %}

        {% if form.phone %}
            {% bootstrap_field form.phone layout="control" %}
        {% endif %}
        {% bootstrap_field form.itemvar layout="control" %}
        <div class="form-group submit-group">
            <a href="{% url "control:event.orders.waitinglist" organizer=request.event.organizer.slug event=request.event.slug %}" class="btn btn-default btn-cancel">
                {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Submit" %}
            </button>
        </div>
    </form>
{% endblock %}
