{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Edit waiting list entry" %}{% endblock %}
{% block content %}
    <h1>{% trans "Edit waiting list entry" %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        {% bootstrap_field form.email layout="control" %}

        {% if form.phone %}
            {% bootstrap_field form.name_parts layout="control" %}
        {% endif %}

        {% if form.phone %}
            {% bootstrap_field form.phone layout="control" %}
        {% endif %}
        {% bootstrap_field form.itemvar layout="control" %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Submit" %}
            </button>
        </div>
    </form>
{% endblock %}
