{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Transfer entries" %}{% endblock %}
{% block content %}
    <h1>{% trans "Transfer entries" %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% if allowed %}
            <p>{% blocktrans %}Are you sure you want to transfer the following entries?{% endblocktrans %}</p>
            <ul>
                {% for s in allowed %}
                    <li>
                        {{ s }}
                        <input type="hidden" name="entry" value="{{ s.pk }}">
                    </li>
                {% endfor %}
             {% for s in subevent %}
                    <li>
                        {{ s }}
                        hello

                        <input type="hidden" name="entry" value="{{ s.pk }}">
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if forbidden %}
            <p>{% blocktrans trimmed %}The following entries can't be deleted as they already have a voucher attached.{% endblocktrans %}</p>
            <ul>
                {% for s in forbidden %}
                    <li>
                        {{ s }}
                        <input type="hidden" name="entry" value="{{ s.pk }}">
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="col-md-4">
            {% bootstrap_field form.subevent %}
            {{ form.errors }}
            {{ form.non_field_errors }}
        </div>
            <div class="form-group submit-group">
            <a href="{% url "control:event.orders.waitinglist" organizer=request.event.organizer.slug event=request.event.slug %}" class="btn btn-default btn-cancel">
                {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Update" %}
            </button>
        </div>
    </form>
{% endblock %}
SubEventBulkEditForm