include LICENSE
include README.rst
recursive-include base/static *
recursive-include base/templates *
recursive-include control/static *
recursive-include control/templates *
recursive-include presale/static *
recursive-include presale/templates *
recursive-include plugins/banktransfer/templates *
recursive-include plugins/paypal/templates *
recursive-include plugins/stripe/templates *
recursive-include plugins/stripe/static *

