@import "../../bootstrap/scss/_bootstrap.scss";
@import "../../fontawesome/scss/font-awesome.scss";
@import "../../pretixbase/scss/colors.scss";


body {
    background: #ececec;
    text-align: center;
    padding: 50px 0;
}

.big-rotating-icon {
    margin-top: 50px;
    -webkit-animation: fa-spin 8s infinite linear;
    animation: fa-spin 8s infinite linear;
    font-size: 200px;
    color: $brand-primary;
}

.logo {
    width: 330px;
    margin: auto;
    display: block;
    margin-top: 10%;
    height: auto;
    max-width: 100%;
}
