{% extends "pretixcontrol/items/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
    {% if checkinlist %}
        {% blocktrans with name=checkinlist.name %}Check-in list: {{ name }}{% endblocktrans %}
    {% else %}
        {% trans "Check-in list" %}
    {% endif %}
{% endblock %}
{% block inside %}
    {% if checkinlist %}
        <h1>{% blocktrans with name=checkinlist.name %}Check-in list: {{ name }}{% endblocktrans %}</h1>
    {% else %}
        <h1>{% trans "Check-in list" %}</h1>
    {% endif %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "General information" %}</legend>
            {% bootstrap_field form.name layout="control" %}
            {% if form.subevent %}
                {% bootstrap_field form.subevent layout="control" %}
            {% endif %}
            {% bootstrap_field form.include_pending layout="control" %}
        </fieldset>
        <fieldset>

            <legend>{% trans "Products" %}</legend>
            <p>
                {% blocktrans trimmed %}
                    Please select the products that should be part of this check-in list.
                {% endblocktrans %}
            </p>
            {% bootstrap_field form.all_products layout="control" %}
            {% bootstrap_field form.limit_products layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Advanced" %}</legend>
            {% bootstrap_field form.auto_checkin_sales_channels layout="control" %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
