{% load compress %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block thetitle %}{% endblock %}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "lightbox/css/lightbox.css" %}" />
    {% endcompress %}
    {% if css_file %}
        <link rel="stylesheet" type="text/css" href="{{ css_file }}"/>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "pretixpresale/scss/main.scss" %}"/>
        {% endcompress %}
    {% endif %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% compress js %}
        <script type="text/javascript" src="{% static "jquery/js/jquery-2.1.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.formset.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "pretixpresale/js/ui/main.js" %}"></script>
        <script type="text/javascript" src="{% static "pretixpresale/js/ui/asynctask.js" %}"></script>
    {% endcompress %}
    {{ html_head|safe }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "pretixbase/img/favicon.ico" %}">
</head>
<body>
{% block above %}
{% endblock %}
<div class="container">
    {% block page %}
    {% endblock %}
</div>
<footer>
    {% block footer %}
    {% endblock %}
    {% include "pretixpresale/base_footer.html" %}
</footer>
<div id="ajaxerr">
</div>
<div id="loadingmodal">
    <i class="fa fa-cog big-rotating-icon"></i>
    <h1>{% trans "We are processing your request…" %}</h1>
    <p>
        {% trans "If this takes longer than a few minutes, please contact us." %}
    </p>
</div>
{% compress js %}
    <script type="text/javascript" src="{% static "lightbox/js/lightbox.min.js" %}"></script>
{% endcompress %}
</body>
</html>
