{% extends "pretixpresale/event/base.html" %}
{% load i18n %}
{% block title %}{% trans "Your account" %}{% endblock %}

{% block content %}
    <h2>{% trans "Welcome back!" %}</h2>
    <div class="row">
        <div class="col-md-6">
            {% if orders %}
                <a href="{% url "presale:event.orders" event=request.event.slug organizer=request.event.organizer.slug %}">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{% trans "Your orders" %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url "presale:event.index" event=request.event.slug organizer=request.event.organizer.slug %}">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{% trans "Place new order" %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>
        <div class="col-md-6">
            <a href="{% url "presale:event.account.settings" event=request.event.slug organizer=request.event.organizer.slug %}">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-wrench fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{% trans "Your settings" %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}