{% load compress %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}{% if url_name != "event.index" %} :: {% endif %}{{ event.name }}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static "pretixpresale/less/main.less" %}" />
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static "jquery/js/jquery-2.1.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.formset.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "pretixpresale/js/ui/main.js" %}"></script>
    {% endcompress %}
    {{ html_head|safe }}
</head>
<body>
<div class="container event">
    <div class="page-header">
        <div class="pull-right loginbox">
            {% if request.event.settings.locales|length > 1 %}
                <div class="locales">
                    {% for l in request.event.settings.locales %}
                        {% if l != request.LANGUAGE_CODE %}
                            <a href="{% url "presale:locale.set" %}?locale={{ l }}&next={{ request.path }}%3F{{ request.META.QUERY_STRING|urlencode }}">
                                <img src="{% static "pretixbase/img/flags" %}/{{ l }}.png" />
                            </a>
                        {% endif %}
                    {% endfor %}
                </div> &middot;
            {% endif %}
            {% if request.user.is_authenticated %}
                {% blocktrans trimmed with name=request.user %}
                    Hello, {{ name }}!
                {% endblocktrans %} &middot;
                <a href="{% url "presale:event.orders" event=request.event.slug organizer=request.event.organizer.slug %}">
                    {% trans "My orders" %}</a> &middot;
                <a href="{% url "presale:event.logout" event=request.event.slug organizer=request.event.organizer.slug %}">
                    {% trans "Logout" %}</a>
            {% else %}
                <a href="{% url "presale:event.checkout.login" event=request.event.slug organizer=request.event.organizer.slug %}">
                    {% trans "Login" %}</a>
            {% endif %}
        </div>
        <h1>{{ event.name }} <small>{{ event.date_from|date }}{% if event.settings.show_date_to %} – {{ event.date_to|date }}{% endif %}</small></h1>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
<footer>
    {% with "href='http://pretix.eu'" as a_attr %}
        {% blocktrans trimmed %}
            powered by <a {{ a_attr }}>pretix</a>
        {% endblocktrans %}
    {% endwith %}
</footer>
</body>
</html>
