{% extends "pretixpresale/event/checkout_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load rich_text %}
{% block inner %}
    <p>{% trans "Before we continue, we need you to answer some questions." %}</p>
    <p class="required-legend">
        {% blocktrans trimmed %}
            You need to fill all fields that are marked with <span>*</span> to continue.
        {% endblocktrans %}
    </p>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel-group" id="questions_group">
            <details class="panel panel-default" open>
                <summary class="panel-heading">
                    <h4 class="panel-title">
                        <strong>{% trans "Contact information" %}</strong>
                        <i class="fa fa-angle-down collapse-indicator"></i>
                    </h4>
                </summary>
                <div id="contact">
                    <div class="panel-body">
                        {% bootstrap_form contact_form layout="horizontal" %}
                        {% if not invoice_address_asked and event.settings.invoice_name_required %}
                            {% bootstrap_form invoice_form layout="horizontal" %}
                        {% endif %}
                    </div>
                </div>
            </details>
            {% if invoice_address_asked %}
                <details class="panel panel-default" {% if event.settings.invoice_address_required or event.settings.invoice_name_required %}open{% endif %}>
                    <summary class="panel-heading">
                        <h4 class="panel-title">
                            <strong>{% trans "Invoice information" %}{% if not event.settings.invoice_address_required and not event.settings.invoice_name_required %}
                                {% trans "(optional)" %}
                            {% endif %}</strong>

                            <i class="fa fa-angle-down collapse-indicator"></i>
                        </h4>
                    </summary>
                    <div id="invoice">
                        <div class="panel-body">
                            {% if event.settings.invoice_address_explanation_text %}
                                <div>
                                    {{ event.settings.invoice_address_explanation_text|rich_text }}
                                </div>
                            {% endif %}
                            {% bootstrap_form invoice_form layout="horizontal" %}
                        </div>
                    </div>
                </details>
            {% endif %}

            {% for pos, forms in formgroups %}
                <details class="panel panel-default" open>
                    <summary class="panel-heading">
                        <h4 class="panel-title">
                            <strong>{{ pos.item.name }}</strong>
                            {% if pos.variation %}
                                – {{ pos.variation }}
                            {% endif %}
                            {% if forloop.counter > 1 %}
                                <span class="text-right flip">
                                    <input type="button" data-id="{{ forloop.counter0 }}" name="copy" class="js-copy-answers btn btn-default btn-xs" value='{% trans "Copy answers from above" %}'>
                                    <i class="fa fa-angle-down collapse-indicator"></i>
                                </span>
                            {% else %}
                                <i class="fa fa-angle-down collapse-indicator"></i>
                            {% endif %}
                        </h4>
                    </summary>
                    <div>
                        <div class="panel-body questions-form" data-idx="{{ forloop.counter0 }}">
                            {% if pos.addons.all %}
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {% trans "Selected add-ons" %}
                                    </label>
                                    <div class="col-md-9 form-control-text">
                                        <ul class="addon-list">
                                            {% for a in pos.addons.all %}
                                                <li>{{ a.item.name }}{% if a.variation %} – {{ a.variation.value }}{% endif %}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            {% if pos.subevent %}
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {% trans "Date" context "subevent" %}
                                    </label>
                                    <div class="col-md-9 form-control-text">
                                        <ul class="addon-list">
                                           {{ pos.subevent.name }} &middot; {{ pos.subevent.get_date_range_display }}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            {% for form in forms %}
                                {% if form.pos.item != pos.item %}
                                    {# Add-Ons #}
                                    <legend>+ {{ form.pos.item }}</legend>
                                {% endif %}
                                {% bootstrap_form form layout="checkout" %}
                            {% endfor %}
                        </div>
                    </div>
                </details>
            {% endfor %}
        </div>
        <div class="row checkout-button-row">
            <div class="col-md-4">
                <a class="btn btn-block btn-default btn-lg"
                        href="{{ prev_url }}">
                    {% trans "Go back" %}
                </a>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-block btn-primary btn-lg" type="submit">
                    {% trans "Continue" %}
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
{% endblock %}
