{% load i18n %}
{% if confirm_messages %}
<div class="panel panel-primary panel-confirm" role="group" aria-labelledby="confirm_heading">
    <div class="panel-heading">
        <h3 class="panel-title" id="confirm_heading">
            {% trans "Confirmations" %}
        </h3>
    </div>
    <div class="panel-body">
        {% for key, desc in confirm_messages.items %}
        <div class="checkbox">
            <label for="input_confirm_{{ key }}">
                <input type="checkbox" value="yes" name="confirm_{{ key }}" id="input_confirm_{{ key }}"
                {% if show_only %} checked disabled aria-disabled="true" {% else %} required {% endif %}>
                {{ desc|safe }}
            </label>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
