{% load i18n %}
{% load bootstrap3 %}
{# Changes should be replicated in pretixcontrol/orders/fragment_order_status.html and in pretix/base/models/orders.py #}
{% if order.status == "n" %}
    {% if order.require_approval %}
        <span class="text-blob-warning">
            <i class="status-dot fa fa-exclamation-circle" aria-hidden="true"></i> {% trans "Approval pending" %}
        </span>
    {% elif order.total == 0 %}
        <span class="text-blob-warning">
            <i class="status-dot fa fa-exclamation-circle" aria-hidden="true"></i> {% trans "Confirmation pending" context "order state" %}
        </span>
    {% elif event.settings.payment_pending_hidden %}
        {# intentionally left blank #}
    {% elif order.valid_if_pending %}
        <span class="text-blob-info">
            <i class="status-dot fa fa-info-circle" aria-hidden="true"></i> {% trans "Confirmed" context "order state" %}
        </span>
    {% else %}
        <span class="text-blob-warning">
            <i class="status-dot fa fa-exclamation-circle" aria-hidden="true"></i> {% trans "Payment pending" %}
        </span>
    {% endif %}
{% elif order.status == "p" %}
    {% if order.count_positions == 0 %}
        <span class="text-blob-info">
            <i class="status-dot fa fa-info-circle" aria-hidden="true"></i> {% trans "Canceled (paid fee)" %}
        </span>
    {% elif order.total == 0 %}
        <span class="text-blob-success">
            <i class="status-dot fa fa-check-circle" aria-hidden="true"></i> {% trans "Confirmed" context "order state" %}
        </span>
    {% else %}
        <span class="text-blob-success">
            <i class="status-dot fa fa-check-circle" aria-hidden="true"></i> {% trans "Paid" %}
        </span>
    {% endif %}
{% elif order.status == "e" %}
    <span class="text-blob-danger">
        <i class="status-dot fa fa-minus-circle" aria-hidden="true"></i> {% trans "Expired" %}
    </span>
{% elif order.status == "c" %}
    <span class="text-blob-danger">
        <i class="status-dot fa fa-times-circle" aria-hidden="true"></i> {% trans "Canceled" %}
    </span>
{% endif %}
