{% load i18n %}
{% load eventurl %}
{% load static %}
<div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
        <div id="rank-result" 
             data-rank-url="{% eventurl event "presale:event.waitinglist.rank" %}"
             data-loading-text="{% trans "Loading..." %}"
             data-voucher-text="{% trans "You have a voucher waiting for redemption! Check your email for details." %}"
             data-rank-label="{% trans "You are {ordinal} in line" %}"
             data-error-text="{% trans "An error occurred. Please try again." %}"
             data-fill-voucher-button-text="{% trans "Fill voucher code" %}">
            {% trans "Loading..." %}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <button id="fill-voucher-btn" 
            class="btn btn-primary btn-lg btn-block hidden"
            data-voucher-code="">
            {% trans "Fill in my voucher code" %}
        </button>
    </div>
    <div class="clearfix"></div>
</div>
<script src="{% static "pretixpresale/js/ui/waitinglist_rank.js" %}"></script>

