{% load i18n %}
{% load eventurl %}
{% load safelink %}
{% load rich_text %}
{% load money %}
<details class="panel {% if open %}panel-primary{% else %}panel-default{% endif %} cart" {% if open %}open{% endif %}>
    <summary class="panel-heading" aria-describedby="cart-deadline">
        <h2 class="panel-title">
            <span>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <strong>{% trans "Your cart" %}</strong>
            </span>
            <span aria-hidden="true">
                <strong id="cart-deadline-short" data-expires="{{ cart.first_expiry|date:"Y-m-d H:i:sO" }}" aria-hidden="true">
                    {% if cart.minutes_left > 0 or cart.seconds_left > 0 %}
                        {{ cart.minutes_left|stringformat:"02d" }}:{{ cart.seconds_left|stringformat:"02d" }}
                    {% else %}
                        {% trans "Cart expired" %}
                    {% endif %}
                </strong>
                <i class="fa fa-angle-down collapse-indicator" aria-hidden="true"></i>
            </span>
        </h2>
    </summary>
    <div>
        <div class="panel-body">
            {% include "pretixpresale/event/fragment_cart.html" with cart=cart event=request.event editable=True %}
            <div class="row checkout-button-row">
                <div class="col-md-4 col-sm-6 col-xs-12 hidden-xs">
                    <form method="post" data-asynctask action="{% eventurl request.event "presale:event.cart.clear" cart_namespace=cart_namespace %}">
                        {% csrf_token %}
                        <button class="btn btn-block btn-default btn-lg" type="submit">
                            <i class="fa fa-close" aria-hidden="true"></i> {% trans "Empty cart" %}</button>
                    </form>
                </div>
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-xs-12">
                    <form method="get" action="{% eventurl request.event "presale:event.checkout.start" cart_namespace=cart_namespace  %}">
                        <button class="btn btn-block btn-primary btn-lg" type="submit"{% if has_addon_choices or cart.total == 0 %} aria-label="{% trans "Continue with order process" %}"{% endif %}>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            {% if has_addon_choices or cart.total == 0 %}
                                {% trans "Continue" %}
                            {% else %}
                                {% trans "Proceed with checkout" %}
                            {% endif %}
                        </button>
                    </form>
                </div>
                <div class="visible-xs-block col-xs-12">
                    <form method="post" data-asynctask action="{% eventurl request.event "presale:event.cart.clear" cart_namespace=cart_namespace %}">
                        {% csrf_token %}
                        <button class="btn btn-block btn-default btn-lg" type="submit">
                            <i class="fa fa-close" aria-hidden="true"></i> {% trans "Empty cart" %}</button>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</details>
