{% load i18n %}
{% load bootstrap3 %}
{% load textblob %}
{# Changes should be replicated in pretixcontrol/orders/fragment_order_status.html and in pretix/base/models/orders.py #}
{% if order.status == "n" %}
    {% if order.require_approval %}
        {% textblob "warning" icon="exclamation-triangle" %}{% trans "Approval pending" %}{% endtextblob %}
    {% elif order.total == 0 %}
        {% textblob "warning" icon="exclamation-triangle" %}{% trans "Confirmation pending" context "order state" %}{% endtextblob %}
    {% elif event.settings.payment_pending_hidden %}
        {# intentionally left blank #}
    {% elif order.valid_if_pending %}
        {% textblob "info" icon="info-circle" %}{% trans "Confirmed" context "order state" %}{% endtextblob %}
    {% else %}
        {% textblob "warning" icon="exclamation-triangle" %}{% trans "Payment pending" %}{% endtextblob %}
    {% endif %}
{% elif order.status == "p" %}
    {% if order.count_positions == 0 %}
        {% textblob "info" icon="info-circle" %}{% trans "Canceled (paid fee)" %}{% endtextblob %}
    {% elif order.total == 0 %}
        {% textblob "success" icon="check" %}{% trans "Confirmed" context "order state" %}{% endtextblob %}
    {% else %}
        {% textblob "success" icon="check" %}{% trans "Paid" %}{% endtextblob %}
    {% endif %}
{% elif order.status == "e" %}
    {% textblob "danger" icon="minus" %}{% trans "Expired" %}{% endtextblob %}
{% elif order.status == "c" %}
    {% textblob "danger" icon="times" %}{% trans "Canceled" %}{% endtextblob %}
{% endif %}
