{% extends "pretixpresale/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
    <h2>{% trans "Login" %}</h2>
    <p>{% trans "You need to login or register to continue" %}</p>
    <div class="panel-group" id="login_accordion">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#loginForm" data-parent="#login_accordion">
                        {% trans "I already have an account" %}
                    </a>
                </h4>
            </div>
            <div id="loginForm" class="panel-collapse collapsed {% if request.POST.form == 'login' %}in{% endif %}">
                <div class="panel-body">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        {% bootstrap_form_errors login_form type='all' layout='inline' %}
                        {% bootstrap_field login_form.email layout="horizontal" %}
                        {% bootstrap_field login_form.password layout="horizontal" %}
                        <input type="hidden" name="form" value="login" />
                        <div class="form-group">
                            <div class="submit-group col-md-offset-3 col-md-4">
                                <button type="submit" class="btn btn-primary btn-save">
                                    {% trans "Login" %}
                                </button>
                                <a href="{% url "presale:event.forgot" event=request.event.slug organizer=request.event.organizer.slug %}" class="btn btn-link">
                                    {% trans "Lost password?" %}
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#guestForm" data-parent="#login_accordion">
                        {% trans "I want to order as a guest" %}
                    </a>
                </h4>
            </div>
            <div id="guestForm" class="panel-collapse collapsed {% if request.POST.form == 'guest' %}in{% endif %}">
                <div class="panel-body">
                    <div class="panel-body">
                        <form class="form-horizontal" method="post">
                            {% csrf_token %}
                            {% bootstrap_form_errors guest_form type='all' layout='inline' %}
                            {% bootstrap_field guest_form.email layout="horizontal" %}
                            <input type="hidden" name="form" value="guest" />
                            <div class="form-group">
                                <div class="submit-group col-md-offset-3 col-md-4">
                                    <button type="submit" class="btn btn-primary btn-save">
                                        {% trans "Continue" %}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#registrationForm" data-parent="#login_accordion">
                        {% trans "I want to create a permanent account" %}
                    </a>
                </h4>
            </div>
            <div id="registrationForm" class="panel-collapse collapsed
             {% if request.POST.form == 'registration' %}in{% endif %}">
                <div class="panel-body">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        {% bootstrap_form_errors registration_form type='all' layout='inline' %}
                        {% bootstrap_field registration_form.email layout="horizontal" %}
                        {% bootstrap_field registration_form.password layout="horizontal" %}
                        {% bootstrap_field registration_form.password_repeat layout="horizontal" %}
                        <input type="hidden" name="form" value="registration" />
                        <div class="form-group">
                            <div class="submit-group col-md-offset-3 col-md-4">
                                <button type="submit" class="btn btn-primary btn-save">
                                    {% trans "Register" %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
