{% extends "pretixpresale/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Password recovery" %}{% endblock %}
{% block content %}
    <h2>{% trans "Password recovery" %}</h2>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form type='all' layout='inline' %}
        {% bootstrap_field form.password layout="horizontal" %}
        {% bootstrap_field form.password_repeat layout="horizontal" %}
        <input type="hidden" name="form" value="login" />
        <div class="form-group">
            <div class="submit-group col-md-offset-3 col-md-4">
                <button type="submit" class="btn btn-primary btn-save">
                    {% trans "Set new password" %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
