{% extends "pretixpresale/event/base.html" %}
{% load i18n %}
{% load l10n %}
{% load money %}
{% load eventurl %}
{% load eventsignal %}
{% load thumb %}
{% load rich_text %}
{% block title %}{% trans "Voucher redemption" %}{% endblock %}

{% block content %}
    {% if show_cart %}
        {% include "pretixpresale/event/fragment_cart_box.html" with open=request.GET.show_cart %}
    {% endif %}

    {% if subevent %}
        <h2>{% trans "Voucher redemption" %}</h2>
        {% if request.GET.subevent and subevent.pk|stringformat:"i" != request.GET.subevent %}
            <div class="alert alert-warning">
                {% trans "This voucher is valid only for the following specific date and time." %}
            </div>
        {% endif %}
        <h3>{{ subevent.name }}</h3>
        {% include "pretixpresale/event/fragment_event_info.html" with event=request.event subevent=subevent ev=subevent show_location=True %}
    {% else %}
        {% if event_logo and event_logo_show_title %}
            <h2 class="content-header">
                {{ event.name }}
                {% if request.event.settings.show_dates_on_frontpage %}
                    <small>{{ event.get_date_range_display_as_html }}</small>
                {% endif %}
            </h2>
            {% include "pretixpresale/event/fragment_event_info.html" with event=request.event subevent=None ev=request.event show_location=True %}
            <h3>{% trans "Voucher redemption" %}</h3>
        {% else %}
            <h2>{% trans "Voucher redemption" %}</h2>
        {% endif %}
    {% endif %}

    <p>
    {% if options == 0 and not seating_available %}
        {% if request.event.has_subevents and not voucher.subevent %}
            {% blocktrans trimmed %}
                For the selected date, there are currently no products available that can be bought with this voucher. Please try a different date or a different voucher.
            {% endblocktrans %}
        {% else %}
            {% blocktrans trimmed %}
                There are currently no products available that can be bought with this voucher.
            {% endblocktrans %}
        {% endif %}
    {% else %}
        {% blocktrans trimmed %}
            You entered a voucher code that allows you to buy one of the following products at the specified price:
        {% endblocktrans %}
    {% endif %}
    </p>
    {% if event.presale_is_running or event.settings.show_items_outside_presale_period %}
        <form method="post"
                action="{% eventurl request.event "presale:event.cart.add" cart_namespace=cart_namespace %}?next={{ cart_redirect|urlencode }}{% if "iframe" in request.GET and not new_tab %}&iframe={{ request.GET.iframe }}{% endif %}{% if "take_cart_id" in request.GET and new_tab %}&take_cart_id={{ request.GET.take_cart_id }}{% endif %}" {% if new_tab %}target="_blank"{% else %}
                data-asynctask
                data-asynctask-headline="{% trans "We're now trying to reserve this for you!" %}"
                data-asynctask-text="{% blocktrans with time=event.settings.reservation_time %}Once the items are in your cart, you will have {{ time }} minutes to complete your purchase.{% endblocktrans %}"
            {% endif %}>
            {% csrf_token %}
            <input type="hidden" name="subevent" value="{{ subevent.id|default_if_none:"" }}" />
            <input type="hidden" name="_voucher_code" value="{{ voucher.code }}">

            {% if seating_available %}
                {% if event.has_subevents %}
                    {% eventsignal event "pretix.presale.signals.render_seating_plan" request=request subevent=subevent voucher=voucher %}
                {% else %}
                    {% eventsignal event "pretix.presale.signals.render_seating_plan" request=request voucher=voucher %}
                {% endif %}
            {% endif %}

            {% include "pretixpresale/event/fragment_product_list.html" with ev=event always_show_open=True %}

            {% eventsignal event "pretix.presale.signals.voucher_redeem_info" voucher=voucher %}
            {% if event.presale_is_running and options > 0 %}
                <div class="row checkout-button-row">
                    <div class="col-md-4 col-md-offset-8 col-xs-12 text-center">
                        {% if voucher.min_usages_remaining > 1 %}
                            <p class="text-muted">
                                <small>
                                    {% blocktrans trimmed with number=voucher.min_usages_remaining %}
                                        You need to select at least {{ number }} products.
                                    {% endblocktrans %}
                                </small>
                            </p>
                        {% endif %}
                        <button class="btn btn-block btn-primary btn-lg" id="btn-add-to-cart" type="submit">
                            {% if request.event.settings.redirect_to_checkout_directly %}
                                {% if allfree %}
                                    <i class="fa fa-check" aria-hidden="true"></i> {% trans "Register" context "free_tickets" %}
                                {% else %}
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> {% trans "Proceed with checkout" %}
                                {% endif %}
                            {% else %}
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> {% trans "Add to cart" %}
                            {% endif %}
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endif %}
            {% if "widget_data" in request.GET %}
                <input type="hidden" value="{{ request.GET.widget_data }}" name="widget_data">
            {% endif %}
        </form>
    {% endif %}
{% endblock %}
