{% extends "pretixpresale/event/base.html" %}
{% load i18n eventurl bootstrap3 %}
{% block title %}{% trans "Waiting list" %}{% endblock %}
{% block content %}
<h2>{% trans "How do tickets work for Hyperborea?" %}</h2>
<p class="help-block">{% trans "Since demand for Hyperborea tickets outnumbers supply," %}<strong> {% trans "the first stage of getting a ticket is registering for the ticket lottery" %}</strong>. {% trans "Our ticket registration opens on" %} 2022-04-01.</p>
<p class="help-block"><u><b>{% trans "If you’ve completed the required volunteer hours in 2019, don't worry! We have a guaranteed ticket for you! You will receive a separate email from us with your voucher." %}</b></u> {% trans "Completing your volunteer hours is the best way to ensure a Hyperborea ticket next year!" %}</p>
<p class="help-block">{% trans "The registrations for the general sale are shuffled in a “lottery” ensuring that everyone registered has an equal chance of being offered a ticket." %} {% trans "General ticket sales for Hyperborea opens on" %} 2022-05-11.</p>
<p class="help-block">{% trans "Available tickets are then offered in the order of the lottery, and registrants have two days to buy their available ticket before it’s added back to the pool and offered to the next in the list." %}</p>
<p class="help-block">{% trans "If you register for a ticket after sales are already in progress, you simply get added to the bottom of the list." %}</p>
    <h3>{% trans "Add me to the list" %}</h3>
    <form action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}
        <div class="form-horizontal">
            {% if subevent %}
                <div class="form-group">
                    <label class="col-md-3 control-label" for="input_subevent">{% trans "Event" %}</label>
                    <div class="col-md-9">
                        <input id="input_subevent" class="form-control" readonly="readonly"
                                value="{{ subevent.name }} – {{ subevent.get_date_range_display }}">
                    </div>
                </div>
            {% endif %}
            {% bootstrap_form form layout="checkout" %}
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <p class="help-block">
<!--                        {% blocktrans trimmed with hours=event.settings.waiting_list_hours %}-->
<!--                            Note that you will only receive one ticket. If you need multiple tickets, you need to add yourself to the waiting list multiple times with different email addresses. There is no guarantee that you will receive a certain number of tickets.-->
<!--                        {% endblocktrans %}-->
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary">
                            {% trans "Add me to the list" %}
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
