{% extends "pretixcontrol/global_settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block inner %}
    <p>
        {% trans "The system report may be requested by pretix support if you are a pretix Enterprise customer." %}
        {% trans "It serves two purposes: Collecting useful information that might help with debugging problems in your pretix installation, and verifying that your usage of pretix is in compliance with the Enterprise license you purchased." %}
    </p>
    <p>
        <a href="?pdf" class="btn btn-primary btn-lg">
            {% trans "Generate report" %}
        </a>
    </p>
{% endblock %}
