{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Enable two-factor authentication" %}{% endblock %}
{% block content %}
    <h1>{% trans "Enable two-factor authentication" %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <p>
            {% trans "Do you really want to enable two-factor authentication?" %}
        </p>
        <p>
            {% trans "You will no longer be able to log in to pretix without one of your configured devices." %}
            {% trans "Please make sure to print out or copy the emergency tokens and store them in a safe place." %}
        </p>
        <div class="form-group submit-group">
            <a href="{% url "control:user.settings.2fa" %}" class="btn btn-default btn-cancel">
                {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-danger btn-save">
                {% trans "Enable" %}
            </button>
        </div>
    </form>
{% endblock %}
