{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Change login email address" %}{% endblock %}
{% block content %}
    <form action="" method="post" class="form centered-form">
        <h1>
            {% trans "Change login email address" %}
        </h1>
        <br>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.new_email %}
        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-save btn-lg">
                {% trans "Continue" %}
            </button>
            <a href="{% url "control:user.settings" %}" class="btn btn-default btn-lg">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
