{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}
    <form action="" method="post" class="form centered-form">
        <h1>
            {% trans "Change password" %}
        </h1>
        <br>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.email %}
        {% bootstrap_field form.old_pw %}
        {% bootstrap_field form.new_pw %}
        {% bootstrap_field form.new_pw_repeat %}
        <div class="form-group submit-group">
            <a href="{% url "control:user.settings" %}" class="btn btn-default btn-cancel">{% trans "Cancel" %}</a>
            <button type="submit" class="btn btn-primary btn-save btn-lg">
                {% trans "Change password" %}
            </button>
        </div>
    </form>
{% endblock %}
