{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Staff session" %}{% endblock %}
{% block content %}
    <h1>{% trans "Admin mode" %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Start session" %}
            </button>
        </div>
    </form>
{% endblock %}
