td > .form-group {
	margin-bottom: 0;
}
td > .errorlist {
	color: #a94442;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
td > .form-group > .checkbox {
	margin-top: 0;
	margin-bottom: 0;
}
.has-success .form-control {
	border-color: #cccccc;
}
.form-horizontal [data-formset] .form-group {
	width: 100%;
}
[data-formset] .form-group:not([data-formset-form-deleted]):last-of-type [data-formset-move-down-button],
[data-formset] .form-group:not([data-formset-form-deleted]):first-of-type [data-formset-move-up-button] {
	cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(.65);
    .box-shadow(none);
}

.form-plugins .panel-title {
	line-height: 34px;
}
