input[type=number] {
  padding-right: 6px;
}
@supports (-moz-appearance:none) {
  input[type=number] {
    padding-right: 2px; // decrease horizontal padding, as some versions of Firefox render the arrow-buttons on number inputs useless otherwise
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
   cursor: pointer;
   padding: 8px 4px;
}

.form-control::placeholder {
  font-style: italic;
}

.sidebar-nav li > a > .fa {
  color: $navbar-inverse-bg;
}
.sidebar-nav li > a > svg {
  position: relative;
  top: 3px;
  path {
    fill: $navbar-inverse-bg;
  }
}
.nav .testmode a {
  background: $brand-warning;
  color: black;
  font-weight: bold;
  &:hover, &:active, &:focus {
    background: $btn-warning-border;
  }
}

.btn {
  border-width: 0px;
}

.btn-default {
  box-shadow: 0px 0px 0px 1px $input-border inset;
  box-sizing: border-box;
}

.btn-default:hover, .btn-default:focus {
  box-shadow: 0px 0px 0px 1px $input-border inset, inset 0 1px 3px 0 #BFBFBF;
  background: $btn-default-bg;
}

.btn-default:active, .btn-default:active:hover, .btn-default:active:focus {
  background: $btn-default-bg;
  outline: 0;
}
.btn-default.active, .btn-default.active:hover, .btn-default.active:focus {
  box-shadow: 0px 0px 0px 1px $input-border inset, inset 0 1px 8px 0 #BFBFBF;  
}

.btn-primary:hover, .btn-primary:focus {
  box-shadow: inset 0 1px 3px 0 var(--pretix-brand-primary-shade-25);
  background: $btn-primary-bg;
}

.btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
  box-shadow: inset 0 1px 8px 0 var(--pretix-brand-primary-shade-25);
  background: $btn-primary-bg;
  outline: 0;
}

.btn-success:hover, .btn-success:focus {
  box-shadow: inset 0 1px 3px 0 var(--pretix-brand-success-shade-25);
  background: $btn-success-bg;
}

.btn-success:active, .btn-success:active:hover, .btn-success:active:focus {
  box-shadow: inset 0 1px 8px 0 var(--pretix-brand-success-shade-25);
  background: $btn-success-bg;
  outline: 0;
}

.btn-warning:hover, .btn-warning:focus {
  box-shadow: inset 0 1px 3px 0 var(--pretix-brand-warning-shade-25);
  background: $btn-warning-bg;
}

.btn-warning:active, .btn-warning:active:hover, .btn-warning:active:focus {
  box-shadow: inset 0 1px 8px 0 var(--pretix-brand-warning-shade-25);
  background: $btn-warning-bg;
  outline: 0;
}

.btn-danger:hover, .btn-danger:focus {
  box-shadow: inset 0 1px 8px 0 var(--pretix-brand-danger-shade-25);
  background: $btn-danger-bg;
}

.btn-danger:active, .btn-danger:active:hover, .btn-danger:active:focus {
  box-shadow: inset 0 1px 3px 0 var(--pretix-brand-danger-shade-25);
  background: $btn-danger-bg;
  outline: 0;
}

.btn-primary-if-active {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border, darken($btn-default-bg, 10%), darken($btn-default-border, 25%), darken($btn-default-border, 12%));
  box-shadow: 0px 0px 0px 1px #cccccc inset;
  box-sizing: border-box;

  &.active {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-background-active, $btn-primary-border-active, $btn-primary-border-hover);
  }
}

.btn-invisible {
  background: transparent;
  border: transparent;
}

.btn-group-flex { display: flex; }
.btn-group-flex > .btn { flex: 1; }

.panel-heading {
  border-radius: 0;
}
.panel-danger > .panel-heading, .panel-success > .panel-heading, .panel-default > .panel-heading, .panel-info > .panel-heading, .panel-warning > .panel-heading {
  color: #000000;
}
.panel-primary .panel-heading {
  color: white;
}


.payments dt {
  text-align: left;
  font-weight: normal;
}

.checkbox-group {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.checkbox-group-legend {
  margin-bottom: .65em;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.checkbox-group-legend > span {
  background: white;
  padding: .5em;
  padding-left: 0;
  position: relative;
  top: .35em;
}

.alert {
  text-align: left;
}
.alert-legal {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text, $alert-info-hr, $alert-info-link);
}
.alert-success, .alert-danger, .alert-info, .alert-warning, .alert-legal {
  position: relative;
  padding-left: 65px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 51px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    background-size: 38px 38px;
  }
  a:not(.btn) {
    color: inherit;
    text-decoration: underline;
  }
}
.sr-only.alert::before {
  background: none !important;
}
.alert-success::before {
  background-color: $state-success-border;
  background-image: var(--pretix-success-icon);
}
.alert-info::before {
  background-color: $state-info-border;
  background-image: var(--pretix-info-icon);
}
.alert-warning::before {
  background-color: $state-warning-border;
  background-image: var(--pretix-warning-icon);
}
.alert-legal::before {
  background-color: $state-info-border;
  background-image: var(--pretix-legal-icon);
}
.alert-danger::before {
  background-color: $state-danger-border;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"><path d="M12.14 4.62h11.64l8.24 8.24V23.4l-8.24 8.24H12.14L3.9 23.39V12.86l8.24-8.24Zm12.6 17.98c0-.28-.11-.56-.31-.76l-3.27-3.27 3.27-3.27a1.085 1.085 0 0 0 0-1.52l-1.51-1.5a1.085 1.085 0 0 0-1.52 0l-3.27 3.26-3.27-3.27a1.085 1.085 0 0 0-1.52 0l-1.5 1.51a1.085 1.085 0 0 0 0 1.52l3.26 3.27-3.27 3.27a1.085 1.085 0 0 0 0 1.52l1.51 1.51a1.085 1.085 0 0 0 1.52 0l3.27-3.27 3.27 3.27a1.085 1.085 0 0 0 1.52 0l1.51-1.51c.2-.2.31-.48.31-.76Z" style="fill:%23fff"/></svg>');
}
.alert-primary::before {
  background: $brand-primary !important;
  outline-color: $brand-primary;
}
.alert-primary {
  border-color: $brand-primary !important;
}

.progress-bar {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.pagination > li.page-current > a:hover, .pagination > li.page-current > a:focus {
  color: $brand-primary;
  background-color: #fff;
  border: 1px solid #ddd;
}

svg.svg-icon {
  position: relative;
  top: 2px;
}

.text-muted path {
  fill: $text-muted;
}

.link-muted a, a.link-muted {
  color: $text-muted;
}

.row-muted td:not(.col-actions) {
  opacity: 0.7;
}

.fa-background {
  opacity: 0.3;
}

.fa-stack-small {
  width: 1.6em;
  height: 1em;
  line-height: 1em;
}
.fa-stack-shifted {
  left: 0.5em;
}

.badge-primary { background: $brand-primary; }
.badge-success { background: $brand-success; }
.badge-danger { background: $brand-danger; }
.badge-warning { background: $brand-warning; }
.badge-info { background: $brand-info; }

@include table-row-variant('success', var(--pretix-brand-success-lighten-40), var(--pretix-brand-success-lighten-35));
@include table-row-variant('info', var(--pretix-brand-info-success-lighten-30), var(--pretix-brand-info-success-lighten-25));
@include table-row-variant('warning', var(--pretix-brand-warning-lighten-40), var(--pretix-brand-warning-lighten-35));
@include table-row-variant('danger', var(--pretix-brand-danger-lighten-30), var(--pretix-brand-danger-lighten-25));

.confirmation-code-input {
  font-size: 200%;
  font-family: monospace;
  font-stretch: expanded;
  text-align: center;
  height: 50px;
  margin: 10px 0;
}
