input[type=number] {
  padding-right: 6px;
}
@supports (-moz-appearance:none) {
  input[type=number] {
    padding-right: 2px; // decrease horizontal padding, as some versions of Firefox render the arrow-buttons on number inputs useless otherwise
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
   cursor: pointer;
   padding: 8px 4px;
}

.sidebar-nav li > a > .fa {
  color: $navbar-inverse-bg;
}
.sidebar-nav li > a > svg {
  position: relative;
  top: 3px;
  path {
    fill: $navbar-inverse-bg;
  }
}
.nav .testmode a {
  background: $brand-warning;
  color: black;
  font-weight: bold;
  &:hover, &:active, &:focus {
    background: $btn-warning-border;
  }
}

.btn {
  border-width: 0px;
}

.btn-default {
  box-shadow: 0px 0px 0px 1px #cccccc inset;
  box-sizing: border-box;
}

.btn-default:hover, .btn-default:focus {
  box-shadow: 0px 0px 0px 1px #cccccc inset, inset 0 1px 3px 0 #BFBFBF;
  background: $btn-default-bg;
}

.btn-default:active, .btn-default:active:hover, .btn-default:active:focus {
  box-shadow: 0px 0px 0px 1px #cccccc inset, inset 0 1px 8px 0 #BFBFBF;
  background: $btn-default-bg;
  outline: 0;
}

.btn-primary:hover, .btn-primary:focus {
  box-shadow: inset 0 1px 3px 0 shade($brand-primary, 25%);
  background: $btn-primary-bg;
}

.btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
  box-shadow: inset 0 1px 8px 0 shade($brand-primary, 25%);
  background: $btn-primary-bg;
  outline: 0;
}

.btn-success:hover, .btn-success:focus {
  box-shadow: inset 0 1px 3px 0 shade($brand-success, 25%);
  background: $btn-success-bg;
}

.btn-success:active, .btn-success:active:hover, .btn-success:active:focus {
  box-shadow: inset 0 1px 8px 0 shade($brand-success, 25%);
  background: $btn-success-bg;
  outline: 0;
}

.btn-warning:hover, .btn-warning:focus {
  box-shadow: inset 0 1px 3px 0 shade($brand-warning, 25%);
  background: $btn-warning-bg;
}

.btn-warning:active, .btn-warning:active:hover, .btn-warning:active:focus {
  box-shadow: inset 0 1px 8px 0 shade($brand-warning, 25%);
  background: $btn-warning-bg;
  outline: 0;
}

.btn-danger:hover, .btn-danger:focus {
  box-shadow: inset 0 1px 8px 0 shade($brand-danger, 25%);
  background: $btn-danger-bg;
}

.btn-danger:active, .btn-danger:active:hover, .btn-danger:active:focus {
  box-shadow: inset 0 1px 3px 0 shade($brand-danger, 25%);
  background: $btn-danger-bg;
  outline: 0;
}

.btn-invisible {
  background: transparent;
  border: transparent;
}

.alert-primary, .alert-warning, .alert-info, .alert-success, .alert-danger {
  color: #3b3b3b;
}
.panel-danger > .panel-heading, .panel-success > .panel-heading, .panel-default > .panel-heading, .panel-info > .panel-heading, .panel-warning > .panel-heading {
  color: #000000;
}
.panel-primary .panel-heading {
  color: white;
}


.payments dt {
  text-align: left;
  font-weight: normal;
}


.alert {
  text-align: left;
}
.alert-legal {
  border-color: $state-info-border;
}
.alert-success, .alert-danger, .alert-info, .alert-warning, .alert-legal {
  position: relative;
  padding-left: 65px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 51px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    background-size: 38px 38px;
  }
}
.sr-only.alert::before {
  background: none !important;
}
.alert-success::before {
  background-color: $state-success-border;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg' xml:space='preserve'%3E%3Ccircle cx='18' cy='18' r='16' fill='%23fff'/%3E%3Cpath d='M25.57 14.65c0-.23-.1-.46-.26-.62l-1.24-1.24a.89.89 0 0 0-1.24 0l-5.98 6-2.68-2.7a.89.89 0 0 0-1.24 0l-1.24 1.24a.88.88 0 0 0 0 1.24l4.54 4.54a.88.88 0 0 0 1.24 0l7.84-7.84c.17-.16.26-.4.26-.62Z' fill='#{url-friendly-colour($state-success-text)}'/%3E%3C/svg%3E%0A");
}
.alert-info::before {
  background-color: $state-info-border;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg' xml:space='preserve'%3E%3Ccircle cx='18' cy='18' r='16' fill='%23fff'/%3E%3Cpath d='M21.74 22.66a.7.7 0 0 0-.7-.7h-.7v-6.28a.7.7 0 0 0-.7-.7h-4.19a.7.7 0 0 0-.7.7v1.4c0 .38.32.7.7.7h.7v4.19h-.7a.7.7 0 0 0-.7.7v1.4c0 .37.32.7.7.7h5.6a.7.7 0 0 0 .69-.7v-1.4Zm-1.4-12.57a.7.7 0 0 0-.7-.7h-2.8a.7.7 0 0 0-.69.7v2.1c0 .38.32.7.7.7h2.8a.7.7 0 0 0 .7-.7v-2.1Z' fill='#{url-friendly-colour($state-info-text)}'/%3E%3C/svg%3E%0A");
}
.alert-warning::before {
  background-color: $state-warning-border;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg' xml:space='preserve'%3E%3Cpath d='M20.04 2.89a2.2 2.2 0 0 0-3.87 0L2.88 27.24a2.22 2.22 0 0 0 1.94 3.27h26.57a2.22 2.22 0 0 0 1.94-3.27L20.04 2.89Z' fill='%23fff'/%3E%3Cpath d='M19.92 25.22c0 .26-.2.47-.45.47h-2.73a.46.46 0 0 1-.45-.47v-2.7c0-.25.2-.46.45-.46h2.73c.25 0 .45.21.45.47v2.7Zm-.02-5.31c-.02.19-.24.33-.5.33h-2.62c-.27 0-.48-.14-.48-.33l-.24-6.48c0-.09.04-.23.14-.3.09-.07.21-.16.34-.16h3.12c.13 0 .26.09.35.16.1.07.14.18.14.27l-.26 6.51Z' fill='#{url-friendly-colour($state-warning-text)}'/%3E%3C/svg%3E");
}
.alert-legal::before {
  background-color: $state-info-border;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg' xml:space='preserve'%3E%3Ccircle cx='18' cy='18' r='16' fill='%23fff'/%3E%3Cpath d='M19.41 11.55c0-.43.2-.79.58-1.08-.42-.27-.99-.4-1.7-.4-.62 0-1.1.13-1.46.4-.36.26-.54.62-.54 1.08 0 .42.13.76.38 1.01.18.15.5.33.95.57l1.77.85c1.04.48 1.79.9 2.25 1.25.51.36.88.8 1.1 1.3h-.02c.18.38.27.76.27 1.14 0 1.1-.62 2.18-1.85 3.22.48.46.81.9 1 1.3a3.84 3.84 0 0 1-.05 3.07c-.22.5-.54.91-.95 1.26-.42.34-.92.61-1.5.8a6.45 6.45 0 0 1-3.91 0 5.44 5.44 0 0 1-1.6-.79 3.67 3.67 0 0 1-1.1-1.22 3.11 3.11 0 0 1-.36-1.5c0-.66.17-1.2.52-1.59.36-.39.83-.59 1.42-.59.46 0 .87.16 1.22.48.36.32.53.7.53 1.16 0 .56-.33 1.03-1 1.41.03.05.07.1.13.13l.2.16a3.24 3.24 0 0 0 1.9.53c.67 0 1.2-.15 1.6-.46.38-.3.58-.7.58-1.22 0-.37-.13-.69-.38-.96a4.46 4.46 0 0 0-1.16-.82l-.9-.44A24.66 24.66 0 0 1 15 20.44a7.7 7.7 0 0 1-.9-.6c-.86-.73-1.29-1.54-1.29-2.45 0-1.16.62-2.23 1.87-3.22a4.7 4.7 0 0 1-.79-1.16 3.38 3.38 0 0 1 .95-3.98A5.02 5.02 0 0 1 18.14 8c1.3 0 2.37.3 3.21.91V8.9c.92.6 1.37 1.38 1.37 2.33 0 .51-.16.93-.49 1.27-.33.34-.75.5-1.26.5a1.6 1.6 0 0 1-1.12-.4c-.3-.28-.44-.62-.44-1.04Zm-1.27 4.66a26.2 26.2 0 0 1-1.73-.84c-.6.6-.89 1.13-.89 1.6 0 .34.13.63.39.87.17.15.42.31.74.5a30.57 30.57 0 0 0 1.93 1l.85.45c.58-.58.87-1.14.87-1.68 0-.36-.15-.67-.46-.94-.3-.27-.87-.6-1.7-.96Z' fill='#{url-friendly-colour($state-info-text)}'/%3E%3C/svg%3E");
}
.alert-danger::before {
  background-color: $state-danger-border;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg' xml:space='preserve'%3E%3Cpath d='M12.14 4.62h11.64l8.24 8.24V23.4l-8.24 8.24H12.14L3.9 23.39V12.86l8.24-8.24Z' fill='%23fff'/%3E%3Cpath d='M24.74 22.6c0-.28-.11-.56-.31-.76l-3.27-3.27 3.27-3.27a1.08 1.08 0 0 0 0-1.52l-1.51-1.5a1.08 1.08 0 0 0-1.52 0l-3.27 3.26-3.27-3.27a1.08 1.08 0 0 0-1.52 0l-1.5 1.51a1.08 1.08 0 0 0 0 1.52l3.26 3.27-3.27 3.27a1.08 1.08 0 0 0 0 1.52l1.51 1.51a1.08 1.08 0 0 0 1.52 0l3.27-3.27 3.27 3.27a1.08 1.08 0 0 0 1.52 0l1.51-1.51c.2-.2.31-.48.31-.76Z' fill='#{url-friendly-colour($state-danger-text)}'/%3E%3C/svg%3E%0A");
}
.alert-primary::before {
  background: $brand-primary !important;
}
.alert-primary {
  border-color: $brand-primary !important;
}

.progress-bar {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.pagination > li.page-current > a:hover, .pagination > li.page-current > a:focus {
  color: #7f5a91;
  background-color: #fff;
  border: 1px solid #ddd;
}

svg.svg-icon {
  position: relative;
  top: 2px;
}

.link-muted a, a.link-muted {
  color: $text-muted;
}

.row-muted td:not(.col-actions) {
  opacity: 0.7;
}

@include table-row-variant('success', lighten($brand-success, 40%));
@include table-row-variant('info', lighten($brand-info, 30%));
@include table-row-variant('warning', lighten($brand-warning, 40%));
@include table-row-variant('danger', lighten($brand-danger, 30%));
