@import "_variables.scss";
@import "../../bootstrap/scss/_bootstrap.scss";
@import "_theme.scss";
@import "../../fontawesome/scss/font-awesome.scss";


body {
    background: #ececec;
    text-align: center;
    padding: 50px 0;
}

.big-icon {
    font-size: 200px;
    color: $brand-primary;
}
