{% load i18n %}

<dl class="dl-horizontal">
    <dt>{% trans "Device ID" %}</dt>
    <dd>{{ payment_info.pos_id }}</dd>
    <dt>{% trans "Receipt ID" %}</dt>
    <dd>{{ payment_info.receipt_id }}</dd>
    {% if payment_info.payment_type == "sumup" %}
        <dt>{% trans "Payment provider" %}</dt>
        <dd>SumUp</dd>
        <dt>{% trans "Transaction Code" %}</dt>
        <dd>{{ payment_info.payment_data.tx_code }}</dd>
        <dt>{% trans "Merchant Code" %}</dt>
        <dd>{{ payment_info.payment_data.merchant_code }}</dd>
        <dt>{% trans "Currency" %}</dt>
        <dd>{{ payment_info.payment_data.currency }}</dd>
        <dt>{% trans "Status" %}</dt>
        <dd>{{ payment_info.payment_data.status }}</dd>
        <dt>{% trans "Type" %}</dt>
        <dd>{{ payment_info.payment_data.type }}</dd>
        <dt>{% trans "Card Entry Mode" %}</dt>
        <dd>{{ payment_info.payment_data.entry_mode }}</dd>
        <dt>{% trans "Card number" %}</dt>
        <dd>
            <i class="fa fa-cc-{{ payment_info.payment_data.card_type|lower }}"></i> **** **** **** {{ payment_info.payment_data.last4 }}
        </dd>
    {% endif %}
</dl>
