{% load i18n %}
{% if mode == "hide" %}
<span class="pull-right text-muted unavail-mode-indicator" data-toggle="tooltip" title="{% trans "Hide product if unavailable" %}. {% trans "To change this option, use the product settings of the base event." %}"><span class="fa fa-eye-slash"></span></span>
{% else %}
<span class="pull-right text-muted unavail-mode-indicator" data-toggle="tooltip" title="{% trans "Show info text if unavailable" %}. {% trans "To change this option, use the product settings of the base event." %}"><span class="fa fa-info-circle"></span></span>
{% endif %}