{% load i18n %}
<div class="alert alert-danger">
    <h2>{% trans "Before you proceed, please read the following documents" %}:
        <br />
        <br />
        <ul>
            <li>
                <a href="https://tickets.sideburn.ca/waiver" target="_blank">{% trans "Release of Waiver and Liability" %}</a>
            </li>
            <br />
            <li>
                <a href="https://tickets.sideburn.ca/conduct" target="_blank">{% trans "SideBurn Code of Conduct" %} </a>
            </li>
        </ul>
        <br />
        {% trans "For each document, enter the confirmation words in the form below to show you agree." %}
    </h2>
</div>
