{% load i18n %}
{% load ordinal %}
<aside class="front-page" aria-labelledby="check-waiting-list-rank">
    <h3 id="check-waiting-list-rank">{% trans "Check my spot in line" %}</h3>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% if waiting_list_ranks %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>{% trans "Product" %}</th>
                            <th>{% trans "Status" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in waiting_list_ranks %}
                            <tr>
                                <td>
                                    {{ product.item_name }}{% if product.variation_name %} – {{ product.variation_name }}{% endif %}
                                </td>
                                <td>
                                    {% if product.voucher_expired %}
                                        <span class="text-warning">
                                            {% blocktrans with day=product.voucher_expired_date|date:"DATE_FORMAT" time=product.voucher_expired_date|date:"TIME_FORMAT" %}Your voucher expired on {{ day }} at {{ time }}. Please feel free to re-enter the waiting list.{% endblocktrans %}
                                        </span>
                                    {% elif product.rank == 0 %}
                                        <span class="text-success">
                                            {% trans "You have a voucher waiting for redemption! Check your email for details." %}
                                        </span>
                                    {% elif not product.lottery_run %}
                                        <span class="text-muted">
                                            {% trans "You are on the waiting list for this event. The lottery hasn't yet been run." %}
                                        </span>
                                    {% elif product.rank %}
                                        {% blocktrans with ordinal=product.rank|ordinal %}You are {{ ordinal }} in line{% endblocktrans %}
                                    {% else %}
                                        <span class="text-muted">{% trans "Unable to determine rank." %}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-muted">{% trans "You are not on the waiting list for this event." %}</p>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
</aside>
