{% extends "tixlcontrol/base.html" %}
{% load i18n %}

{% block nav %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> {{ request.event.slug }} <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{% url "control:events" %}">{% trans "Event overview" %}</a></li>
		{% regroup request.user.events_cache by organizer as event_list %}
		{% for g in event_list %}
			<li class="dropdown-header">{{ g.grouper }}</li>
			{% for e in g.list %}
			<li><a href="{% url "control:event.index" organizer=g.grouper.slug event=e.slug %}">{{ e.name }}</a></li>
			{% endfor %}
		{% endfor %}
	</ul>
</li>
<li {% if url_name == "event.index" %}class="active"{% endif %}><a href="{% url 'control:event.index' organizer=request.event.organizer.slug event=request.event.slug %}">{% trans "Dashboard" %}</a></li>
<li {% if url_name == "event.settings" %}class="active"{% endif %}><a href="{% url 'control:event.settings' organizer=request.event.organizer.slug event=request.event.slug %}">{% trans "Settings" %}</a></li>
{% endblock %}
