@import "../../bootstrap/less/bootstrap.less";
@import "../../fontawesome/less/font-awesome.less";
@import "../../lightbox/css/lightbox.css";
@fa-font-path: "../../fontawesome/fonts";
@import "../../pretixbase/less/colors.less";

@import "event.less";
@import "forms.less";

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 11px;
}
.page-header {
    position: relative;
    padding-bottom: 9px;

    h1 {
        margin: 0;
    }
    .loginbox {
        padding-top: 15px;
    }
}
.js-only {
    display: none;
}
.locales {
    display: inline;
    a {
        text-decoration: none;
    }
    img {
        vertical-align: baseline;
    }
}
.huge {
    font-size: 40px;
}
a:hover .panel-primary > .panel-heading {
    background-color: darken(@btn-primary-bg, 10%);
    border-color: darken(@btn-primary-border, 12%);
}

.thank-you {
    margin-bottom: 25px;
    .fa {
        font-size: 150px;
        line-height: 170px;
        display: block;
        color: @brand-success;
    }

    h2 {
        color: @brand-success;
    }
}
@media (min-width: @screen-md-min) {
    .thank-you {
        height: 170px;
        width: 70%;
        margin: auto;

        .fa {
            float: left;
            margin-right: 30px;
        }

        h2 {
            padding-top: 35px;
        }
    }
}
@media (max-width: @screen-sm-max) {
    .thank-you {
        text-align: center;
    }
    h2 {
        margin-top: 0;
    }
}