-e ../src/
sphinx==6.1.*
jinja2==3.1.*
sphinx-rtd-theme
sphinxcontrib-httpdomain
sphinxcontrib-images
sphinxcontrib-jquery
sphinxcontrib-spelling==7.*
sphinxemoji
pygments-markdown-lexer
pyenchant==3.2.*
