{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load order_overview %}
{% block title %}{% trans "Order overview" %}{% endblock %}
{% block content %}
    {% url "control:event.orders" organizer=request.event.organizer.slug event=request.event.slug as listurl %}
    <div class="pull-right">
        <div class="btn-group" role="group" id="sumtoggle">
            <button type="button" data-target=".count" class="btn btn-default active">{% trans "Show number" %}</button>
            <button type="button" data-target=".sum" class="btn btn-default">
                {% blocktrans with currency=request.event.currency %}Show {{ currency }}{% endblocktrans %}</button>
        </div>
    </div>
	<h1>{% trans "Order overview" %}</h1>
    <div class="table-responsive">
        <table class="table table-condensed table-hover table-product-overview">
            <thead>
                <tr>
                    <th>{% trans "Product" %}</th>
                    <th>{% trans "Total orders" %}</th>
                    <th>{% trans "Payment pending" %}</th>
                    <th>{% trans "Cancelled" %}</th>
                    <th>{% trans "Refunded" %}</th>
                    <th>{% trans "Paid" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for tup in items_by_category %}
                    {% if tup.0 %}
                        <tr class="category">
                            <th>{{ tup.0.name }}</th>
                            <th>{{ tup.0.num_total|togglesum }}</th>
                            <th>{{ tup.0.num_pending|togglesum }}</th>
                            <th>{{ tup.0.num_cancelled|togglesum }}</th>
                            <th>{{ tup.0.num_refunded|togglesum }}</th>
                            <th>{{ tup.0.num_paid|togglesum }}</th>
                        </tr>
                    {% endif %}
                    {% for item in tup.1 %}
                        <tr class="item {% if tup.0 %}categorized{% endif %}">
                            <td>{{ item.name }}</td>
                            <td>
                                <a href="{{ listurl }}?item={{ item.id }}">
                                    {{ item.num_total|togglesum }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ listurl }}?item={{ item.id }}&amp;status=n">
                                    {{ item.num_pending|togglesum }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ listurl }}?item={{ item.id }}&amp;status=c">
                                    {{ item.num_cancelled|togglesum }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ listurl }}?item={{ item.id }}&amp;status=r">
                                    {{ item.num_refunded|togglesum }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ listurl }}?item={{ item.id }}&amp;status=p">
                                    {{ item.num_paid|togglesum }}
                                </a>
                            </td>
                        </tr>
                        {% if item.has_variations %}
                            {% for var in item.all_variations %}
                                <tr class="variation {% if tup.0 %}categorized{% endif %}">
                                    <td>{{ var }}</td>
                                    <td>{{ var.num_total|togglesum }}</td>
                                    <td>{{ var.num_pending|togglesum }}</td>
                                    <td>{{ var.num_cancelled|togglesum }}</td>
                                    <td>{{ var.num_refunded|togglesum }}</td>
                                    <td>{{ var.num_paid|togglesum }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="total">
                    <th>{% trans "Total" %}</th>
                    <th>{{ total.num_total|togglesum }}</th>
                    <th>{{ total.num_pending|togglesum }}</th>
                    <th>{{ total.num_cancelled|togglesum }}</th>
                    <th>{{ total.num_refunded|togglesum }}</th>
                    <th>{{ total.num_paid|togglesum }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
