{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load order_overview %}
{% block title %}{% trans "Order overview" %}{% endblock %}
{% block content %}
    {% url "control:event.orders" organizer=request.event.organizer.slug event=request.event.slug as listurl %}
    <div class="pull-right">
        <div class="btn-group" role="group" id="sumtoggle">
            <button type="button" data-target=".count" class="btn btn-default active">{% trans "Sales" %}</button>
            <button type="button" data-target=".sum-gross" class="btn btn-default">{% trans "Revenue (gross)" %}</button>
            <button type="button" data-target=".sum-net" class="btn btn-default">{% trans "Revenue (net)" %}</button>
        </div>
    </div>
	<h1>{% trans "Order overview" %}</h1>
    {% if request.event.has_subevents %}
        <form class="form-inline helper-display-inline" action="" method="get">
            {% include "pretixcontrol/event/fragment_subevent_choice_simple.html" %}
        </form>
    {% endif %}
    {% if subevent_warning %}
        <div class="alert alert-info">
            {% blocktrans trimmed context "subevent" %}
                If you select a single date, payment method fees will not be listed here as it might not be clear which
                date they belong to.
            {% endblocktrans %}
        </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-condensed table-hover table-product-overview">
            <thead>
                <tr>
                    <th>{% trans "Product" %}</th>
                    <th>{% trans "Canceled" %}¹</th>
                    <th>{% trans "Expired" %}</th>
                    <th colspan="3" class="text-center">{% trans "Purchased" %}</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{% trans "Pending" %}</th>
                    <th>{% trans "Paid" %}</th>
                    <th>{% trans "Total" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for tup in items_by_category %}
                    {% if tup.0 %}
                        <tr class="category">
                            <th>{{ tup.0 }}</th>
                            <th>{{ tup.0.num.canceled|togglesum:request.event.currency }}</th>
                            <th>{{ tup.0.num.expired|togglesum:request.event.currency }}</th>
                            <th>{{ tup.0.num.pending|togglesum:request.event.currency }}</th>
                            <th>{{ tup.0.num.paid|togglesum:request.event.currency }}</th>
                            <th>{{ tup.0.num.total|togglesum:request.event.currency }}</th>
                        </tr>
                    {% endif %}
                    {% for item in tup.1 %}
                        <tr class="item {% if tup.0 %}categorized{% endif %}">
                            <td>{{ item }}</td>
                            <td>
                                <a href="{{ listurl }}?item={{ item.id }}&amp;status=c&amp;provider={{ item.provider }}">
                                    {{ item.num.canceled|togglesum:request.event.currency }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ listurl }}?item={{ item.id }}&amp;status=e&amp;provider={{ item.provider }}">
                                    {{ item.num.expired|togglesum:request.event.currency }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ listurl }}?item={{ item.id }}&amp;status=n&amp;provider={{ item.provider }}">
                                    {{ item.num.pending|togglesum:request.event.currency }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ listurl }}?item={{ item.id }}&amp;status=p&amp;provider={{ item.provider }}">
                                    {{ item.num.paid|togglesum:request.event.currency }}
                                </a>
                            </td>
                            <td>
                                {{ item.num.total|togglesum:request.event.currency }}
                            </td>
                        </tr>
                        {% if item.has_variations %}
                            {% for var in item.all_variations %}
                                <tr class="variation {% if tup.0 %}categorized{% endif %}">
                                    <td>{{ var }}</td>
                                    <td>
                                        <a href="{{ listurl }}?item={{ item.id }}-{{ var.id }}&amp;status=c&amp;provider={{ item.provider }}">
                                            {{ var.num.canceled|togglesum:request.event.currency }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ listurl }}?item={{ item.id }}-{{ var.id }}&amp;status=e&amp;provider={{ item.provider }}">
                                            {{ var.num.expired|togglesum:request.event.currency }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ listurl }}?item={{ item.id }}-{{ var.id }}&amp;status=n&amp;provider={{ item.provider }}">
                                            {{ var.num.pending|togglesum:request.event.currency }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ listurl }}?item={{ item.id }}-{{ var.id }}&amp;status=p&amp;provider={{ item.provider }}">
                                            {{ var.num.paid|togglesum:request.event.currency }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ var.num.total|togglesum:request.event.currency }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="total">
                    <th>{% trans "Total" %}</th>
                    <th>{{ total.num.canceled|togglesum:request.event.currency }}</th>
                    <th>{{ total.num.expired|togglesum:request.event.currency }}</th>
                    <th>{{ total.num.pending|togglesum:request.event.currency }}</th>
                    <th>{{ total.num.paid|togglesum:request.event.currency }}</th>
                    <th>{{ total.num.total|togglesum:request.event.currency }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <p class="help-block">
        ¹ {% trans "If you click links in this column, you will only find orders that are canceled completely, while the numbers also include single canceled positions within valid orders." %}
    </p>
{% endblock %}
