{% extends "pretixpresale/organizers/customer_profile.html" %}
{% load i18n %}
{% load pretix_twilio_sms_tags %}

{% block customer_profile_after_phone %}
                {% get_sms_opt_in customer as sms_opt_in %}
                <dt></dt>
                <dd>
                    {% if sms_opt_in %}
                        <span class="text-success"><i class="fa fa-check" aria-hidden="true"></i> {% trans "You are signed up to receive SMS updates" %}</span>
                    {% else %}
                        <span class="text-muted"><i class="fa fa-times" aria-hidden="true"></i> {% trans "You are not signed up to receive SMS updates" %}</span>
                    {% endif %}
                </dd>
{% endblock %}
