{% extends "tixlcontrol/item/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inside %}
	<form action="" method="post">
		{% csrf_token %}
		{% for major in forms %}
			<h3>{{ major.row }}</h3>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						{% for val in properties.1.values.all %}
						<th>{{ val.value }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for sub in major.forms %}
						<tr>
							<td>{{ sub.row }}</td>
							{% for form in sub.forms %}
								<td>
									{% bootstrap_field form.active layout='inline' %}
									{% bootstrap_field form.default_price layout='inline' %}
									{{ form.default_price.errors }}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endfor %}
		<div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
		</div>
	</form>
	
{% endblock %}
