{% extends "tixlcontrol/item/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inside %}
	<h2>{% trans "Variations" %}</h2>
	<form action="" method="post">
		{% csrf_token %}
		<table class="table">
			<thead>
				<tr>
					<th></th>
					{% for val in properties.1.values.all %}
					<th>{{ val.value }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for sub in forms %}
					<tr>
						<td>{{ sub.row }}</td>
						{% for form in sub.forms %}
							<td>
								{% bootstrap_field form.active layout='inline' %}
								{% bootstrap_field form.default_price layout='inline' %}
								{{ form.default_price.errors }}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="form-group">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary">
					{% trans "Save" %}
				</button>
			</div>
		</div>
	</form>
	
{% endblock %}
