{% extends "pretixcontrol/items/base.html" %}
{% load i18n %}
{% load eventsignal %}
{% load bootstrap3 %}
{% load capture_tags %}
{% block title %}{% trans "Voucher" %}{% endblock %}
{% block inside %}
    <h1>{% trans "Create new vouchers" %}</h1>
    <form action="" method="post" class="form-inline" id="voucher-create">
        {% csrf_token %}
        {% capture as number_field silent %}&nbsp;{% bootstrap_field form.number layout="inline" %}&nbsp;{% endcapture %}
        {% capture as max_usages_field silent %}&nbsp;{% bootstrap_field form.max_usages layout="inline" %}&nbsp;{% endcapture %}
        {% capture as valid_until_field silent %}&nbsp;{% bootstrap_field form.valid_until layout="inline" %}&nbsp;{% endcapture %}
        {% capture as value_field_percent silent %}&nbsp;{% bootstrap_field form.value_percent layout="inline" %}&nbsp;{% endcapture %}
        {% capture as value_field_subtract silent %}&nbsp;{% bootstrap_field form.value_subtract layout="inline" %}&nbsp;{% endcapture %}
        {% capture as value_field_set silent %}&nbsp;{% bootstrap_field form.value_set layout="inline" %}&nbsp;{% endcapture %}

        {% bootstrap_form_errors form %}

        <div class="wizard-step" id="step-number">
            <div class="wizard-step-inner">
                <h4>{% trans "How many vouchers do you want to create?" %}</h4>
                <div class="form-line">
                    {% blocktrans trimmed %}
                        Create {{ number_field }} voucher codes. Each of them can be redeemed {{ max_usages_field }}
                        times.
                    {% endblocktrans %}
                </div>
            </div>
        </div>

        <div class="wizard-step" id="step-valid">
            <div class="wizard-step-inner">
                <h4>{% trans "How long should the vouchers be valid?" %}</h4>
                <div class="radio radio-alt">
                    <label>
                        <input type="radio" name="has_valid_until" value="" {% if request.POST and not "has_valid_until" in request.POST %}checked="checked"{% endif %}>
                        {% trans "The whole presale period" %}
                    </label>
                </div>
                <div class="radio radio-alt">
                    <label>
                        <input type="radio" name="has_valid_until" value="on" {% if "on" == request.POST.has_valid_until %}checked="checked"{% endif %}>
                        {% blocktrans trimmed %}
                            Only valid until {{ valid_until_field }}
                        {% endblocktrans %}
                    </label>
                </div>
            </div>
        </div>

        <div class="wizard-step" id="step-products">
            <div class="wizard-step-inner">
                <h4>{% trans "For which products should the vouchers be applicable?" %}</h4>
                {% bootstrap_field form.itemvar layout="inline" %}
            </div>
        </div>

        <div class="wizard-step" id="step-price">
            <div class="wizard-step-inner">
                <h4>{% trans "Should the vouchers modify the product's price?" %}</h4>
                <div class="radio radio-alt">
                    <label>
                        <input type="radio" name="price_mode" value="none" {% if "none" == request.POST.price_mode %}checked="checked"{% endif %}>
                        {% trans "No, just allow to buy this product" %}
                        <span class="help-block">
                            {% trans "This is useful if you have products that can only be bought using vouchers. It also allows you to just block quota for someone (see next step)." %}
                        </span>
                    </label>
                </div>
                <div class="radio radio-alt">
                    <label>
                        <input type="radio" name="price_mode" value="percent" {% if "percent" == request.POST.price_mode %}checked="checked"{% endif %}>
                        {% blocktrans trimmed %}
                            Reduce price by {{ value_field_percent }} %
                        {% endblocktrans %}
                    </label>
                </div>
                <div class="radio radio-alt">
                    <label>
                        <input type="radio" name="price_mode" value="subtract" {% if "subtract" == request.POST.price_mode %}checked="checked"{% endif %}>
                        {% blocktrans trimmed with currency=request.event.currency %}
                            Reduce price by {{ value_field_subtract }} {{ currency }}
                        {% endblocktrans %}
                    </label>
                </div>
                <div class="radio radio-alt">
                    <label>
                        <input type="radio" name="price_mode" value="set" {% if "set" == request.POST.price_mode %}checked="checked"{% endif %}>
                        {% blocktrans trimmed with currency=request.event.currency %}
                            Change price to {{ value_field_set }} {{ currency }}
                        {% endblocktrans %}
                    </label>
                </div>
            </div>
        </div>

        <div class="wizard-step" id="step-block">
            <div class="wizard-step-inner">
                <h4>{% trans "Should the vouchers block quota?" %}</h4>
                <div class="radio radio-alt">
                    <label>
                        <input type="radio" name="block_quota" value="" {% if request.POST and not "block_quota" in request.POST %}checked="checked"{% endif %}>
                        {% trans "No" %}
                    </label>
                </div>
                <div class="radio radio-alt">
                    <label>
                        <input type="radio" name="block_quota" value="on" {% if "on" == request.POST.block_quota %}checked="checked"{% endif %}>
                        {% trans "Yes" %}
                        <span class="help-block">
                            {% trans "If you select this option, these vouchers will be guaranteed, i.e. the applicable quotas will be reduced in a way that these vouchers can be redeemed as long as they are valid, even if your event sells out otherwise." %}
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="wizard-step" id="step-advanced">
            <div class="wizard-step-inner">
                <a href="#" id="wizard-advanced-show">Show advanced options</a>
                <div class="wizard-advanced">
                    <h4>{% trans "Advanced options" %}</h4>
                    {% bootstrap_field form.allow_ignore_quota %}
                    <p><strong>{% trans "Comment" %}</strong></p>
                    {% bootstrap_field form.comment layout="inline" form_group_class="comment" %}
                    <div class="help-block">
                        {% trans "The text entered in this field will not be visible to the user and is available for your convenience." %}
                    </div>
                </div>
            </div>
        </div>

        {% eventsignal request.event "pretix.control.signals.voucher_form_html" form=form %}
        <div class="submit-group" id="step-save">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Create" %}
            </button>
        </div>
    </form>
{% endblock %}
