.panel-title .radio {
  margin-left: 20px;
}

.form-control + .form-control-feedback {
  /* Fix for https://github.com/FortAwesome/Font-Awesome/issues/4313 */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; // Ensure icon is above input groups
  display: block;
  width: $input-height-base;
  height: $input-height-base;
  line-height: $input-height-base;
  text-align: center;
  pointer-events: none;
}

.js-copy-answers {
  margin-right: 10px;
}

.form-control.is-focused {
  @extend .form-control:focus;
}

.form-control.has-error {
  border-color: $state-danger-text;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075)); // Redeclare so transitions work
  &:focus, &.is-focused {
    border-color: darken($state-danger-text, 10%);
    $shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($state-danger-text, 20%);
    @include box-shadow($shadow);
  }
}

.required-legend span {
  color: $brand-primary;
  font-weight: bold;
}
.form-group.required .control-label:after {
  content: '*';
  color: $brand-primary;
}
.form-control-text {
  padding-top: 7px;
}
.addon-list {
  padding: 0;
  list-style-type: none;
}
.accordion-radio {
  display: block;
  margin: 0;
}
.panel-default>.accordion-radio>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  padding: 12px 15px;

  input[type=radio] {
    margin-top: 0;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
}
.panel-default>.accordion-radio+.panel-collapse>.panel-body {
  border-top: 1px solid #ddd;
}

.splitdatetimerow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .help-block {
    width: 100%;
  }
}
.splitdatetimepart {
  width: 50%;
  display: inline-block;

  &.datepickerfield {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  &.timepickerfield {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
  }
}
