html.rtl {
  .info-row {
    & > .fa {
      float: right;
    }
    p {
      margin-right: 40px;
      margin-left: 0;
    }
  }
  .productpicture {
      float: right;
      margin-right: 0;
      margin-left: 10px;
  }
  .product-row.variation h5:before {
    left: auto;
    right: 1px;
    border-width: 0 1px 1px 0;
  }
  .cart-row > div {
    float: right;
  }
  .checkout-flow .checkout-step:before {
    left: 50%;
  }
  .checkout-flow .checkout-step:after {
    left: 0;
  }
  .cart-modify {
    margin-left: 0;
    margin-right: 10px;
  }
  .cart-row dl dd {
    padding-right: 20px;
    padding-left: 0;
  }
  .thank-you > .fa {
    float: right;
    margin-left: 30px;
    margin-right: 0;
  }
  .thank-you > * {
    margin-right: 158px;
    margin-left: 0;
  }
  .fa-arrow-right::before {
    content: $fa-var-arrow-left;
  }
  .fa-arrow-left::before {
    content: $fa-var-arrow-right;
  }
  .page-header h1, h2.content-header {
    direction: rtl;
    * {
      display: inline-block;
    }
  }
}

