@import "../../pretixbase/scss/_theme_variables.scss";
@import "../../pretixbase/scss/_bootstrap_vars.scss";
@import "../../bootstrap/scss/_bootstrap.scss";
@import "../../pretixbase/scss/_theme.scss";
@import "../../fontawesome/scss/font-awesome.scss";


body {
    background: #ececec;
    text-align: center;
    padding: 50px 0;
}

.big-rotating-icon {
    margin-top: 50px;
    -webkit-animation: fa-spin 8s infinite linear;
    animation: fa-spin 8s infinite linear;
    font-size: 200px;
    color: $brand-primary;
}

.progress {
    max-width: 450px;
    margin: 0 auto 20px;
}
.steps {
    max-width: 450px;
    text-align: left;
    margin: 0 auto 20px;
    list-style-type: none;
    padding: 0;
}
@for $i from 0 through 100 {
    .progress-bar-#{$i} { width: 1% * $i; }
}
