{% extends "pretixcontrol/base.html" %}
{% load i18n %}

{% block nav %}
<li>
    <a href="{% url 'control:event.index' organizer=request.event.organizer.slug event=request.event.slug %}"
             {% if url_name == "event.index" %}class="active"{% endif %}>
        <i class="fa fa-dashboard fa-fw"></i>
        {% trans "Dashboard" %}
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-wrench fa-fw"></i>
        {% trans "Settings" %}
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a href="{% url 'control:event.settings' organizer=request.event.organizer.slug event=request.event.slug %}"
                    {% if "event.settings" == url_name %}class="active"{% endif %}>
                {% trans "General" %}
            </a>
        </li>
        <li>
            <a href="{% url 'control:event.settings.payment' organizer=request.event.organizer.slug event=request.event.slug %}"
                    {% if "event.settings.payment" == url_name %}class="active"{% endif %}>
                {% trans "Payment" %}
            </a>
        </li>
        <li>
            <a href="{% url 'control:event.settings.plugins' organizer=request.event.organizer.slug event=request.event.slug %}"
                    {% if "event.settings.plugins" == url_name %}class="active"{% endif %} >
                {% trans "Plugins" %}
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#">
        <i class="fa fa-ticket fa-fw"></i>
        {% trans "Products" %}
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a href="{% url 'control:event.items' organizer=request.event.organizer.slug event=request.event.slug %}"
                    {% if "event.items" == url_name or "event.item." in url_name or url_name == "event.item" %}class="active"{% endif %}>
                {% trans "Products" %}</a>
        </li>
        <li>
            <a href="{% url 'control:event.items.quotas' organizer=request.event.organizer.slug event=request.event.slug %}"
                    {% if "event.items.quotas" in url_name %}class="active"{% endif %}>
                {% trans "Quotas" %}
            </a>
        </li>
        <li>
            <a href="{% url 'control:event.items.categories' organizer=request.event.organizer.slug event=request.event.slug %}"
                    {% if "event.items.categories" in url_name %}class="active"{% endif %}>
                {% trans "Categories" %}
            </a>
        </li>
        <li>
            <a href="{% url 'control:event.items.properties' organizer=request.event.organizer.slug event=request.event.slug %}"
                    {% if "event.items.properties" in url_name %}class="active"{% endif %}>
                {% trans "Properties" %}
            </a>
        </li>
        <li>
            <a href="{% url 'control:event.items.questions' organizer=request.event.organizer.slug event=request.event.slug %}"
                    {% if "event.items.questions" in url_name %}class="active"{% endif %}>
                {% trans "Questions" %}
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="{% url 'control:event.orders' organizer=request.event.organizer.slug event=request.event.slug %}"
            {% if "event.orders" in url_name %}class="active"{% endif %}>
        <i class="fa fa-shopping-cart fa-fw"></i>
        {% trans "Orders" %}
    </a>
</li>
{% endblock %}
