{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inside %}
    <h1>{% trans "Cancellation settings" %}</h1>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "Cancellation of unpaid or free orders" %}</legend>
            {% bootstrap_field form.cancel_allow_user layout="control" %}
            {% bootstrap_field form.cancel_allow_user_until layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Cancellation of paid orders" %}</legend>
            {% bootstrap_field form.cancel_allow_user_paid layout="control" %}
            {% bootstrap_field form.cancel_allow_user_paid_keep layout="control" %}
            {% bootstrap_field form.cancel_allow_user_paid_keep_percentage layout="control" %}
            {% bootstrap_field form.cancel_allow_user_paid_keep_fees layout="control" %}
            {% bootstrap_field form.cancel_allow_user_paid_until layout="control" %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
