{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inside %}
    <h1>{% trans "Cancellation settings" %}</h1>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <div class="tabbed-form">
            <fieldset>
                <legend>{% trans "Unpaid or free orders" %}</legend>
                {% bootstrap_field form.cancel_allow_user layout="control" %}
                {% bootstrap_field form.cancel_allow_user_until layout="control" %}
            </fieldset>
            <fieldset>
                <legend>{% trans "Paid orders" %}</legend>
                {% bootstrap_field form.cancel_allow_user_paid layout="control" %}
                {% bootstrap_field form.cancel_allow_user_paid_keep layout="control" %}
                {% bootstrap_field form.cancel_allow_user_paid_keep_percentage layout="control" %}
                {% bootstrap_field form.cancel_allow_user_paid_keep_fees layout="control" %}
                {% bootstrap_field form.cancel_allow_user_paid_until layout="control" %}
                {% if not gets_notification %}
                    <div class="alert alert-warning">
                        {% blocktrans trimmed %}
                            If a user requests cancels a paid order and the money can not be refunded automatically, e.g.
                            due to the selected payment method, you will need to take manual action. However, you have
                            currently turned off notifications for this event.
                        {% endblocktrans %}
                        <a href="{% url "control:user.settings.notifications" %}" class="btn btn-default">
                            {% trans "Change notification settings" %}
                        </a>
                    </div>
                {% endif %}
            </fieldset>
        </div>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
