{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load hierarkey_form %}
{% block inside %}
    <h1>{% trans "Display settings" %}</h1>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "Event page" %}</legend>
            {% bootstrap_field form.logo_image layout="control" %}
            {% bootstrap_field form.frontpage_text layout="control" %}
            {% bootstrap_field form.voucher_explanation_text layout="control" %}
            {% bootstrap_field form.show_variations_expanded layout="control" %}
            {% bootstrap_field form.meta_noindex layout="control" %}
            {% if form.frontpage_subevent_ordering %}
                {% bootstrap_field form.frontpage_subevent_ordering layout="control" %}
            {% endif %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Shop design" %}</legend>
            {% url "control:organizer.display" organizer=request.organizer.slug as org_url %}
            {% propagated request.event org_url "primary_color" "primary_font" "theme_color_success" "theme_color_danger" %}
                {% bootstrap_field form.primary_color layout="control" %}
                {% bootstrap_field form.theme_color_success layout="control" %}
                {% bootstrap_field form.theme_color_danger layout="control" %}
                {% bootstrap_field form.primary_font layout="control" %}
            {% endpropagated %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
