{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load eventurl %}
{% load bootstrap3 %}
{% load static %}
{% load eventsignal %}
{% block title %}{{ request.event.name }}{% endblock %}
{% block content %}
    <h1>
        {{ request.event.name }}
        <small>
            {% if request.event.has_subevents %}
                {% trans "Event series" %}
            {% else %}
                {{ request.event.get_date_range_display }}
            {% endif %}
        </small>
    </h1>
    <div class="helper-space-below">
        {% trans "Shop URL:" %}
        <span id="shop_url" class="text-muted">{% abseventurl request.event "presale:event.index" %}</span>
        <button type="button" class="btn btn-default btn-xs btn-clipboard js-only" data-clipboard-target="#shop_url">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            <span class="sr-only">{% trans "Copy to clipboard" %}</span>
        </button>
        <div class="btn-group helper-display-inline-block">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" title="{% trans "Create QR code" %}" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-qrcode" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="{% url "control:event.qrcode" event=request.event.slug organizer=request.organizer.slug filetype="png" %}" target="_blank" download>
                        {% blocktrans with filetype="PNG" %}Download QR code as {{ filetype }} image{% endblocktrans %}
                    </a>
                </li>
                <li>
                    <a href="{% url "control:event.qrcode" event=request.event.slug organizer=request.organizer.slug filetype="svg" %}" target="_blank" download>
                        {% blocktrans with filetype="SVG" %}Download QR code as {{ filetype }} image{% endblocktrans %}
                    </a>
                </li>
                <li>
                    <a href="{% url "control:event.qrcode" event=request.event.slug organizer=request.organizer.slug filetype="jpeg" %}" target="_blank" download>
                        {% blocktrans with filetype="JPG" %}Download QR code as {{ filetype }} image{% endblocktrans %}
                    </a>
                </li>
                <li>
                    <a href="{% url "control:event.qrcode" event=request.event.slug organizer=request.organizer.slug filetype="gif" %}" target="_blank" download>
                        {% blocktrans with filetype="GIF" %}Download QR code as {{ filetype }} image{% endblocktrans %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    {% if has_overpaid_orders %}
        <div class="alert alert-warning">
            {% blocktrans trimmed %}
                This event contains <strong>overpaid orders</strong>, for example due to duplicate payment attempts.
                You should review the cases and consider refunding the overpaid amount to the user.
            {% endblocktrans %}
            <a href="{% url "control:event.orders" event=request.event.slug organizer=request.event.organizer.slug %}?status=overpaid"
                    class="btn btn-primary">{% trans "Show overpaid orders" %}</a>
        </div>
    {% endif %}
    {% if has_pending_refunds %}
        <div class="alert alert-warning">
            {% blocktrans trimmed %}
                This event contains <strong>pending refunds</strong> that you should take care of.
            {% endblocktrans %}
            <a href="{% url "control:event.orders.refunds" event=request.event.slug organizer=request.event.organizer.slug %}"
                    class="btn btn-primary">{% trans "Show pending refunds" %}</a>
        </div>
    {% endif %}
    {% if has_cancellation_requests %}
        <div class="alert alert-warning">
            {% blocktrans trimmed %}
                This event contains <strong>requested cancellations</strong> that you should take care of.
            {% endblocktrans %}
            <a href="{% url "control:event.orders" event=request.event.slug organizer=request.event.organizer.slug %}?status=rc"
                    class="btn btn-primary">{% trans "Show orders requesting cancellation" %}</a>
        </div>
    {% endif %}
    {% if has_pending_approvals %}
        <div class="alert alert-warning">
            {% blocktrans trimmed %}
                This event contains <strong>pending approvals</strong> that you should take care of.
            {% endblocktrans %}
            <a href="{% url "control:event.orders" event=request.event.slug organizer=request.event.organizer.slug %}?status=pa"
                    class="btn btn-primary">{% trans "Show orders pending approval" %}</a>
        </div>
    {% endif %}
    {% if has_pending_orders_with_full_payment %}
        <div class="alert alert-warning">
            {% blocktrans trimmed %}
                This event contains <strong>fully paid orders</strong> that are not marked as paid, probably
                because no quota was left at the time their payment arrived. You should review the cases and consider
                either refunding the customer or creating more space.
            {% endblocktrans %}
            <a href="{% url "control:event.orders" event=request.event.slug organizer=request.event.organizer.slug %}?status=pendingpaid"
                    class="btn btn-primary">{% trans "Show affected orders" %}</a>
        </div>
    {% endif %}
    {% eventsignal request.event "pretix.control.signals.event_dashboard_top" request=request %}

    {% if request.event.has_subevents %}
        <form class="form-inline helper-display-inline" action="" method="get">
            {% include "pretixcontrol/event/fragment_subevent_choice_simple.html" %}
        </form>
    {% endif %}
    {% if not request.event.has_subevents or subevent %}
        {% include "pretixcontrol/event/fragment_timeline.html" %}
    {% endif %}
    <div class="dashboard">
        {% for w in widgets %}
            <div class="widget-container widget-{{ w.display_size|default:"small" }} {% if w.lazy %}widget-lazy-loading{% endif %}" data-lazy-id="{{ w.lazy }}">
                {% if w.url %}{# backwards compatibility #}
                    <a href="{{ w.url }}" class="widget">
                        {% if w.lazy %}
                            <span class="fa fa-cog fa-4x"></span>
                        {% else %}
                            {{ w.content|safe }}
                        {% endif %}
                    </a>
                {% elif w.link %}
                    <a href="{{ w.link }}" class="widget">
                        {% if w.lazy %}
                            <span class="fa fa-cog fa-4x´"></span>
                        {% else %}
                            {{ w.content|safe }}
                        {% endif %}
                    </a>
                {% else %}
                    <div class="widget">
                        {% if w.lazy %}
                            <span class="fa fa-cog fa-4x"></span>
                        {% else %}
                            {{ w.content|safe }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <p>&nbsp;</p>
    <div class="panel panel-default items">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans "Internal comment" %}
            </h3>
        </div>
        <div class="panel-body">
            <form class="form" method="post"
                  action="{% url "control:event.comment" event=request.event.slug organizer=request.event.organizer.slug %}">
                {% csrf_token %}
                <div class="row">
                    {% bootstrap_field comment_form.comment layout="horizontal" show_help=True show_label=False horizontal_field_class="col-md-12" %}
                </div>
                {% if not comment_form.readonly %}
                    <p class="text-right flip">
                        <br>
                        <button class="btn btn-default">
                            {% trans "Update comment" %}
                        </button>
                    </p>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans "Event logs" %}
            </h3>
        </div>
        <ul class="list-group" id="logs_target">
            <div class="logs-lazy-loading">
                <span class="fa fa-cog fa-4x"></span>
            </div>
        </ul>
        <div class="panel-footer">
            <a href="{% url "control:event.log" event=request.event.slug organizer=request.event.organizer.slug %}">
                {% trans "Show more logs" %}
            </a>
        </div>
    </div>

{% endblock %}
