{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block inside %}

        <div class="section-moved">
            <img src="{% static "pretixcontrol/img/moved.svg" %}" class="img-moved">
            <p>
                {% blocktrans trimmed %}
                    Permission settings have moved and are now configured as part of an organizer account instead
                    of every event on its own.
                {% endblocktrans %}
            </p>

            <a href="{% url "control:organizer.teams" organizer=request.event.organizer.slug %}"
                    class="btn btn-link btn-lg">{% trans "Go to the organizer team settings" %}</a>
        </div>
{% endblock %}
