{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inside %}
    <form action="" method="post" class="form-horizontal">
        {% if "success" in request.GET %}
            <div class="alert alert-success">
                {% trans "Your changes have been saved." %}
            </div>
        {% endif %}
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Ticket download" %}</legend>
            {% bootstrap_field form.ticket_download layout="horizontal" %}
            {% bootstrap_field form.ticket_download_date layout="horizontal" %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
