{% load compress %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title></title>
		{% compress css %}
		<link rel="stylesheet" type="text/less" href="{% static "tixlcontrol/less/auth.less" %}" />
		{% endcompress %}
	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
			<footer>
				{% with "href='http://tixl.de'" as a_attr %}
					{% blocktrans trimmed %}
						powered by <a {{ a_attr }}>tixl</a>
					{% endblocktrans %}
				{% endwith %}
			</footer>
		</div>
	</body>
</html>
