{% load compress %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}{% if url_name != "index" %} :: {% endif %}
            {{ settings.PRETIX_INSTANCE_NAME }}</title>
		{% compress css %}
		<link rel="stylesheet" type="text/less" href="{% static "pretixcontrol/less/main.less" %}" />
		{% endcompress %}
		{% compress js %}
		<script type="text/javascript" src="{% static "jquery/js/jquery-2.1.1.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.formset.js" %}"></script>
		<script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
		<script type="text/javascript" src="{% static "pretixcontrol/js/ui/main.js" %}"></script>
		{% endcompress %}
	</head>
	<body>
		<div class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">{% trans "Toggle navigation" %}</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">{{ settings.TIXL_INSTANCE_NAME }}</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						{% block nav %}
						<li {% if url_name == "index" %}class="active"{% endif %}><a href="{% url 'control:index' %}">{% trans "Dashboard" %}</a></li>
						<li {% if "events" in url_name %}class="active"{% endif %}><a href="{% url 'control:events' %}">{% trans "Events" %}</a></li>
						{% endblock %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><i class="fa fa-user"></i> {{ request.user.get_full_name }}</a></li>
						<li><a href="{% url 'control:auth.logout' %}" title="{% trans "Log out" %}"><i class="fa fa-sign-out"></i><span class="visible-xs-inline">{% trans "Log out" %}</span></a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		<div class="container">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>
