{% extends "pretixpresale/organizers/base.html" %}
{% load i18n %}
{% load rich_text %}
{% load eventurl %}
{% block title %}{% trans "Event overview" %}{% endblock %}
{% block content %}
    <div>
        {% if organizer_homepage_text %}
            {{ organizer_homepage_text | rich_text }}
        {% endif %}
    </div>
    <h3 class="text-center">{{ date|date:"F Y" }}</h3>
    <div class="row">
        <div class="col-sm-6">
            <a href="{% eventurl request.organizer "presale:organizer.calendar" year=before.year month=before.month %}"
               class="btn btn-default">
                <span class="fa fa-arrow-left"></span>
                {{ before|date:"F Y" }}
            </a>
        </div>
        <div class="col-sm-6 text-right">
            <a href="{% eventurl request.organizer "presale:organizer.calendar" year=after.year month=after.month %}"
               class="btn btn-default">
                <span class="fa fa-arrow-right"></span>
                {{ after|date:"F Y" }}
            </a>
        </div>
    </div>
    {% include "pretixpresale/fragment_calendar.html" %}
    {% if multiple_timezones %}
        <div class="alert alert-info">
            {% blocktrans trimmed %}
                Note that the events in this view are in different timezones.
            {% endblocktrans %}
        </div>
    {% endif %}

    {% include "pretixpresale/pagination.html" %}
{% endblock %}
