{% extends "pretixpresale/organizers/customer_base.html" %}
{% load i18n %}
{% load icon %}
{% load eventurl %}
{% block title %}{% trans "Attendee profiles" %}{% endblock %}
{% block inner %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% icon "users" %}
                <strong>{% trans "Attendee profiles" %}</strong> ({{ page_obj.paginator.count }})
            </h3>
        </div>
        <div class="panel-body">
            {% if attendee_profiles %}
                <ol class="full-width-list alternating-rows">
                    <li class="row">
                    {% for ap in attendee_profiles %}
                        {% if forloop.counter0 and forloop.counter0|divisibleby:4 %}
                            </li>
                            <li class="row">
                        {% endif %}
                        <div class="col-md-3 col-xs-12">
                            <p>{{ ap.describe|linebreaksbr }}</p>
                            <p class="blank-after">
                                <a href="{% abseventurl request.organizer "presale:organizer.customer.profile.delete" id=ap.id %}"
                                   class="btn btn-danger btn-sm">
                                    {% icon "trash" %}
                                    {% trans "Delete" %}
                                </a>
                            </p>
                        </div>
                    {% endfor %}
                    </li>
                </ol>
            {% else %}
                <p class="text-center">{% trans "You don’t have any attendee profiles in your account yet." %}</p>
            {% endif %}
        </div>
    </div>
    {% include "pretixcontrol/pagination.html" %}
{% endblock %}
