{% extends "pretixcontrol/auth/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% block content %}
	<form class="form-signin" action="" method="post">
        <h3>{% trans "Enter confirmation code" %}</h3>
        {% csrf_token %}
        <p>{{ message }}</p>
        {% bootstrap_form_errors form type='all' layout='inline' %}
        {% bootstrap_field form.code label_class="sr-only" %}
		<div class="form-group buttons">
            <a href="{{ cancel_url }}" class="btn btn-lg btn-default">
                {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-lg btn-primary">
                {% trans "Continue" %}
            </button>
		</div>
	</form>
{% endblock %}
