{% extends "pretixcontrol/auth/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <form class="form-signin" action="" method="post">
        {% bootstrap_form_errors form type='all' layout='inline' %}
        {% csrf_token %}
        {% bootstrap_field form.email %}
        {% bootstrap_field form.password %}
        {% if form.keep_logged_in %}
            {% bootstrap_field form.keep_logged_in %}
        {% endif %}
        <div class="form-group buttons">
            <button type="submit" class="btn btn-primary btn-block">
                {% trans "Log in" %}
            </button>
            {% if can_reset %}
                <a href="{% url "control:auth.forgot" %}" class="btn btn-link btn-block">
                    {% trans "Lost password?" %}
                </a>
            {% endif %}
            {% if can_register %}
                <a href="{% url "control:auth.register" %}" class="btn btn-link btn-block">
                    {% trans "Register" %}
                </a>
            {% endif %}
        </div>
    </form>
{% endblock %}
