{% extends "pretixcontrol/auth/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% block content %}
	<form class="form-signin" action="" method="post">
        <h3>{% trans "Create a new account" %}</h3>
		{% bootstrap_form_errors form type='all' layout='inline' %}
		{% csrf_token %}
		{% bootstrap_field form.email %}
		{% bootstrap_field form.password %}
        {% bootstrap_field form.password_repeat %}
        {% if form.keep_logged_in %}
            {% bootstrap_field form.keep_logged_in %}
        {% endif %}
		<div class="form-group buttons">
            <a href="{% url "control:auth.login" %}" class="btn btn-link">
                &laquo; {% trans "Login" %}
            </a>

			<button type="submit" class="btn btn-primary">
				{% trans "Register" %}
			</button>
		</div>
	</form>
{% endblock %}
