{% extends "pretixcontrol/auth/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block content %}
<form class="form-signin" action="" method="post">

    <h2 class="text-center">
        {% trans "Sign Up" %}
    </h2>

    <p class="text-center text-muted">
        {% trans "Create your account to continue" %}
    </p>

    {% csrf_token %}

    {% bootstrap_form_errors form type='all' layout='inline' %}

    <!-- Email -->
    {% bootstrap_field form.email %}

    <!-- Password -->
    {% bootstrap_field form.password %}

    <!-- Confirm Password -->
    {% bootstrap_field form.password_repeat %}

    <!-- Keep Logged In -->
    {% if form.keep_logged_in %}
        {% bootstrap_field form.keep_logged_in %}
    {% endif %}

    <div class="form-group buttons text-center">

        <!-- Register Button -->
        <button type="submit" class="btn btn-primary btn-block">
            {% trans "Sign Up" %}
        </button>

        <hr>

        <!-- Login Redirect -->
        <p>
            {% trans "Already have an account?" %}
            <a href="{% url 'control:auth.login' %}">
                {% trans "Sign In" %}
            </a>
        </p>

    </div>

</form>
{% endblock %}