{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% block title %}{{ object.name }} :: {% trans "Product" %}{% endblock %}
{% block content %}
    {% if object.identity %}
        <h1>{% trans "Modify product:" %} {{ object.name }}</h1>
        <ul class="nav nav-pills">
            <li {% if "event.item" == url_name %}class="active"{% endif %}><a href="{% url 'control:event.item' organizer=request.event.organizer.slug event=request.event.slug item=object.identity %}">{% trans "General information" %}</a></li>
            <li {% if "event.item.properties" == url_name %}class="active"{% endif %}><a href="{% url 'control:event.item.properties' organizer=request.event.organizer.slug event=request.event.slug item=object.identity %}">{% trans "Properties" %}</a></li>
            <li {% if "event.item.variations" == url_name %}class="active"{% endif %}><a href="{% url 'control:event.item.variations' organizer=request.event.organizer.slug event=request.event.slug item=object.identity %}">{% trans "Variations" %}</a></li>
        </ul>
    {% else %}
        <h1>{% trans "Create product" %}</h1>
        <p>{% blocktrans trimmed %}
            You will be able to adjust further settings in the next step.
        {% endblocktrans %}</p>
    {% endif %}
    {% if object.identity and not object.quotas.exists %}
        <div class="alert alert-warning">
        	{% blocktrans trimmed %}
                Please note, that your product  will <strong>not</strong> be available for sale until you added your
                item to an existing or newly created quota.
	        {% endblocktrans %}
        </div>
    {% endif %}
	{% block inside %}
	{% endblock %}
{% endblock %}
