.dashboard-panels .panel-heading .fa {
  opacity: 0.5;
}
.dashboard > div {
  padding: 5px;
}
.dashboard .widget {
  min-height: 160px;
  background: #F8F8F8;
  display: block;
  position: relative;
}
.dashboard .widget:hover,.dashboard .widget:focus {
  background: #EEEEEE;
  text-decoration: none;
}
.dashboard .numwidget {
  .num {
    display: block;
    padding: 28px 0 10px;
    text-align: center;
    font-size: 40px;
  }
  .text {
    display: block;
    text-align: center;
    font-size: 20px;
  }
}
.dashboard .shopstate {
  text-align: center;
  padding: 36px 0;

  span.live, span.off {
    display: block;
    font-size: 20px;
    padding: 10px 0;
  }
  span.live {
    color: $brand-success;
  }
  span.off {
    color: $brand-danger;
  }
}
.dashboard .event {
  text-align: center;
  padding: 30px;
  font-size: 20px;

  span.from, span.to {
    display: block;
    font-size: 25px;
  }
}
.dashboard .newevent {
  text-align: center;
  padding: 30px;
  font-size: 20px;

  span.fa {
    display: block;
    font-size: 60px;
    padding-bottom: 15px;
  }
}
.dashboard .welcome-wizard {
  padding: 30px;
  h3 {
    margin: 0 0 10px 0;
  }
  .attentionline {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
