@import "_variables.scss";
@import "../../bootstrap/scss/_bootstrap.scss";
$fa-font-path: static("fontawesome/fonts");
@import "../../fontawesome/scss/font-awesome.scss";
@import "../css/metisMenu.min.css";
@import "_sb-admin-2.scss";
@import "_forms.scss";
@import "_flags.scss";
@import "_orders.scss";
@import "_dashboard.scss";

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 11px;
}

nav.navbar {
    margin: 0;
}
.navbar-brand img {
    height: 100%;
    width: auto;
    display: inline;
}

.navbar-header .navbar-events {
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}
.nav-pills {
    margin-bottom: 10px;
}
.product-row {
    padding: 10px 0;

    .count form {
        display: inline;
    }
    .price, .count {
        text-align: right;
    }
    .price small,
    .availability-box small {
        display: block;
        line-height: 1;
    }

    &.total {
        border-top: 1px solid $table-border-color;
    }

    dl {
        padding-left: 20px;
        margin-bottom: 0;

        dd {
            padding-left: 20px;
        }
    }
}

h1 .btn-sm {
    margin-top: -5px;
}

.btn-toolbar {
    margin-bottom: 20px;
}
.container-fluid > .alert:first-child {
    margin-top: 20px;
}

.flipped-scroll-wrapper {
    overflow-y: auto;
}
.flipped-scroll-wrapper, .flipped-scroll-inner {
    /* This nasty hack puts the scroll bar at the top, so the user really
       notices that there is one */
    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg); /* IE 9 */
    -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}
@media (max-width: $screen-sm-max) {
    .navbar-nav {
        margin-left: 0;
    }
}


.helper-display-inline {
    display: inline !important;
}
.helper-width-auto {
    width: auto;
}
.helper-width-100 {
    width: 100%;
}
.helper-space-below {
    margin-bottom: 10px;
}

.empty-collection {
    margin: 20px 0;
    text-align: center;

    p {
        font-size: 24px;
    }

    .big-grey-icon {
        font-size: 200px;
        color: #ccc;
    }
}
.table .progress {
    margin-bottom: 0;
}

@for $i from 0 through 100 {
  .progress-bar-#{$i} { width: 1% * $i; }
}

.form-order-change .radio {
    display: block;
}
.form-order-change .form-group {
    margin: 0;
}
