{% load i18n %}
<div class="reldatetime">
    {% for group_name, group_choices, group-index in widget.subwidgets.0.optgroups %}
        {% for selopt in group_choices %}
            <div class="radio">
                <label>
                    <input type="radio" name="{{ widget.subwidgets.0.name }}" value="{{ selopt.value }}"
                            {% include "django/forms/widgets/attrs.html" with widget=selopt %} />
                    {{ selopt.label }}
                </label>
                {% if selopt.value == "absolute" %}
                    {% include widget.subwidgets.1.template_name with widget=widget.subwidgets.1 %}
                {% elif selopt.value == "relative" %}
                    {% blocktrans trimmed with number=rendered_subwidgets.2 relation=rendered_subwidgets.4 relation_to=rendered_subwidgets.3 %}
                        {{ number }} days {{ relation }} {{ relation_to }}
                    {% endblocktrans %}
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</div>
