{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Create a new organizer" %}{% endblock %}
{% block content %}
    <form action="" method="post" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans "Create a new organizer" %}</h1>
            </div>
            <div class="panel-body">
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.name layout="horizontal" %}
                {% bootstrap_field form.slug layout="horizontal" %}
                <div class="form-group submit-group">
                    <button type="submit" class="btn btn-primary btn-save">
                        {% trans "Save" %}
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
