{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inner %}
    <h1>
        {% blocktrans with name=organizer.name %}Organizer: {{ name }}{% endblocktrans %}
    </h1>
    {% if events|length == 0 %}
        <p>
            <em>{% trans "You currently do not have access to any events." %}</em>
        </p>
    {% else %}
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>{% trans "Event name" %}</th>
                <th>{% trans "Start date" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for e in events %}
                <tr>
                    <td>
                        <strong><a
                                href="{% url "control:event.index" organizer=e.organizer.slug event=e.slug %}">{{ e.name }}</a></strong>
                    </td>
                    <td>{{ e.get_date_from_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <a href="{% url "control:events.add" %}" class="btn btn-default">
        <span class="fa fa-plus"></span>
        {% trans "Create a new event" %}
    </a>
{% endblock %}
