{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inner %}
    <h1>
        {% blocktrans with name=organizer.name %}Organizer: {{ name }}{% endblocktrans %}
    </h1>
    {% if events|length == 0 %}
        <p>
            <em>{% trans "You currently do not have access to any events." %}</em>
        </p>
    {% else %}
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>{% trans "Event name" %}</th>
                <th>{% trans "Start date" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for e in events %}
                <tr>
                    <td>
                        <strong><a
                                href="{% url "control:event.index" organizer=e.organizer.slug event=e.slug %}">{{ e.name }}</a></strong>
                    </td>
                    <td>{{ e.get_date_from_display }}</td>
                    <td class="text-right">
                        <a href="{% url "control:event.index" organizer=e.organizer.slug event=e.slug %}"
                                class="btn btn-sm btn-default" title="{% trans "Open event dashboard" %}"
                                data-toggle="tooltip">
                            <span class="fa fa-eye"></span>
                        </a>
                        {% if "can_create_events" in request.orgapermset %}
                            <a href="{% url "control:events.add" %}?clone={{ e.pk }}" class="btn btn-sm btn-default"
                                    title="{% trans "Clone event" %}" data-toggle="tooltip">
                                <span class="fa fa-copy"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if "can_create_events" in request.orgapermset %}
        <a href="{% url "control:events.add" %}" class="btn btn-default">
            <span class="fa fa-plus"></span>
            {% trans "Create a new event" %}
        </a>
    {% endif %}
{% endblock %}
