{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block custom_header %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% url "control:pdf.css" %}">
{% endblock %}
{% block inner %}
    <h1>{% trans "Display settings" %}</h1>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Organizer page" %}</legend>
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.locales layout="control" %}
            {% bootstrap_field form.organizer_logo_image layout="control" %}
            {% bootstrap_field form.organizer_homepage_text layout="control" %}
            {% bootstrap_field form.event_list_type layout="control" %}
            {% bootstrap_field form.event_list_availability layout="control" %}
            {% bootstrap_field form.organizer_link_back layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Shop design" %}</legend>
            <p class="help-block">
                {% blocktrans trimmed %}
                    These settings will be used for the organizer page as well as for the default settings
                    for all events in this account that do not have their own design settings.
                {% endblocktrans %}
            </p>
            {% bootstrap_field form.primary_color layout="control" %}
            {% bootstrap_field form.theme_color_success layout="control" %}
            {% bootstrap_field form.theme_color_danger layout="control" %}
            {% bootstrap_field form.primary_font layout="control" %}
            {% bootstrap_field form.favicon layout="control" %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
