{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load order_overview %}
{% block title %}{% trans "Data export" %}{% endblock %}
{% block content %}
    <h1>
        {% trans "Data export" %}
    </h1>
    <div class="list-group large-link-group">
        {% for e in exporters %}
            <a class="list-group-item" href="?identifier={{ e.identifier }}">
                <h4>{{ e.verbose_name }}</h4>
                {% if e.description %}
                    <p>
                        {{ e.description }}
                    </p>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endblock %}
