{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Data export" %}{% endblock %}
{% block content %}
    <h1>
        {% trans "Data export" %}
        {% if exporter %}
            <small>
                {{ exporter.verbose_name }}
            </small>
        {% endif %}
    </h1>
    {% if exporter.description %}
        <p class="help-block">{{ exporter.description }}</p>
    {% endif %}
    {% if schedule_form %}
        {% bootstrap_form_errors schedule_form layout='control' %}
    {% endif %}
    <form action="{% url "control:organizer.export.do" organizer=request.organizer.slug %}"
          method="post" class="form-horizontal" data-asynctask data-asynctask-download
          data-asynctask-long>
        {% csrf_token %}
        <input type="hidden" name="exporter" value="{{ exporter.identifier }}"/>

        <fieldset>
            <legend>{% trans "Export options" %}</legend>
            {% bootstrap_form exporter.form layout='control' %}
        </fieldset>
        {% if schedule_form %}
            {% include "pretixcontrol/orders/fragment_export_schedule_form.html" %}
            <div class="form-group submit-group">
                <button formaction="{{ request.get_full_path }}" name="schedule" value="save" type="submit"
                        class="btn btn-primary btn-save" data-no-asynctask>
                    {% trans "Save" %}
                </button>
            </div>
        {% else %}
            <div class="form-group submit-group">
                <button type="submit" class="btn btn-primary btn-save">
                    <span class="fa fa-download" aria-hidden="true"></span>
                    {% trans "Start export" %}
                </button>
                <button formaction="{{ request.get_full_path }}" name="schedule" value="start" type="submit"
                        class="btn btn-default btn-alternative" data-no-asynctask>
                    <span class="fa fa-clock-o" aria-hidden="true"></span>
                    {% trans "Schedule export" %}
                </button>
            </div>
        {% endif %}
    </form>
{% endblock %}
