{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inner %}
    <h1>{% trans "Create a new gift card" %}</h1>
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.secret layout="control" %}
        {% bootstrap_field form.value layout="control" %}
        {% bootstrap_field form.currency layout="control" %}
        {% bootstrap_field form.testmode layout="control" %}
        {% bootstrap_field form.expires layout="control" %}
        {% bootstrap_field form.conditions layout="control" %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
