{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inner %}
    <h1>{% trans "Delete membership type:" %} {{ type.name }}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% if is_allowed %}
            <p>{% blocktrans %}Are you sure you want to delete this membership type?{% endblocktrans %}
        {% else %}
            <p>{% blocktrans %}This membership type cannot be deleted since it has already been used.{% endblocktrans %}
        {% endif %}
        </p>
        <div class="form-group submit-group">
            <a href="{% url "control:organizer.membershiptypes" organizer=request.organizer.slug %}" class="btn btn-default btn-cancel">
                {% trans "Cancel" %}
            </a>
            {% if is_allowed %}
                <button type="submit" class="btn btn-danger btn-save">
                    {% trans "Delete" %}
                </button>
            {% endif %}
        </div>
    </form>
{% endblock %}
