{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
    {% if provider %}
        {% trans "External SSO provider:" %} {{ provider.name }}
    {% else %}
        {% trans "Connect to an external SSO provider" %}
    {% endif %}
{% endblock %}
{% block inner %}
    {% if provider %}
        <h1>{% trans "External SSO provider:" %} {{ provider.name }}</h1>
    {% else %}
        <h1>{% trans "Connect to an external SSO provider" %}</h1>
    {% endif %}
    <p>
        {% blocktrans trimmed with url="https://docs.pretix.eu/guides/customer-accounts/#using-pretix-as-an-sso-client" %}
            For more information, refer to our documentation on <a href="{{ url }}" target="_blank">Using pretix as an SSO client</a>.
        {% endblocktrans %}
    </p>
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="control" %}
        {% if redirect_uri %}
            <div class="form-group">
                <label class="col-md-3 control-label" for="redirect_uri">
                    {% trans "Redirection URL" context "sso" %}

                </label>
                <div class="col-md-9">
                    <input type="text" value="{{ redirect_uri }}"
                           class="form-control"
                           disabled id="redirect_uri">
                </div>
            </div>
        {% endif %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>

    </form>
{% endblock %}
