{% extends "pretixbase/email/base.html" %}
{% load eventurl %}
{% load i18n %}
{% block content %}
    <tr>
        <td class="containertd">
            <!--[if gte mso 9]>
                    <table cellpadding="20"><tr><td>
                <![endif]-->
            <div class="content">
                {{ body|safe }}
            </div>
            <!--[if gte mso 9]>
                    </td></tr></table>
                <![endif]-->
        </td>
    </tr>
    {% if order %}
        {% include "pretixbase/email/separator.html" %}
        <tr>
            <td class="order containertd">
                <!--[if gte mso 9]>
                    <table cellpadding="20"><tr><td>
                <![endif]-->
                <div class="content">
                    {% include "pretixbase/email/order_details.html" %}
                </div>
                <!--[if gte mso 9]>
                    </td></tr></table>
                <![endif]-->
            </td>
        </tr>
    {% endif %}
	{% if signature %}
        {% include "pretixbase/email/separator.html" %}
        <tr>
            <td class="order containertd">
                <!--[if gte mso 9]>
                    <table cellpadding="20"><tr><td>
                <![endif]-->
                <div class="content">
                    {{ signature | safe }}
                </div>
                <!--[if gte mso 9]>
                    </td></tr></table>
                <![endif]-->
            </td>
        </tr>
    {% endif %}
{% endblock %}
