{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans trimmed with code=order.code %}
        Order details: {{ code }}
    {% endblocktrans %}
{% endblock %}
{% block content %}
    <h1>
        {% blocktrans trimmed with code=order.code %}
            Order details: {{ code }}
        {% endblocktrans %}
        {% include "pretixcontrol/orders/fragment_order_status.html" with order=order class="pull-right" %}
    </h1>
    {% if request.eventperm.can_change_orders %}
        {% if order.status == 'n' or order.status == 'p' %}
            <form action="{% url "control:event.order.transition" event=request.event.slug organizer=request.event.organizer.slug code=order.code %}"
                    method="post">
                {% csrf_token %}
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                        {% if order.status == 'n' %}
                            <button name="status" value="p" class="btn btn-default">{% trans "Mark as paid" %}</button>
                            <a href="{% url "control:event.order.extend" event=request.event.slug organizer=request.event.organizer.slug code=order.code %}" class="btn btn-default">
                                {% trans "Extend payment term" %}
                            </a>
                            <a href="{% url "control:event.order.transition" event=request.event.slug organizer=request.event.organizer.slug code=order.code %}?status=c" class="btn btn-default">
                                {% trans "Cancel order" %}
                            </a>
                        {% elif order.status == 'p' %}
                            <button name="status" value="n" class="btn btn-default">{% trans "Mark as not paid" %}</button>
                            <a href="{% url "control:event.order.transition" event=request.event.slug organizer=request.event.organizer.slug code=order.code %}?status=r" class="btn btn-default">
                                {% trans "Refund order" %}
                            </a>
                        {% endif %}

                        {% if can_download %}
                            {% for b in download_buttons %}
                                <a href="{% url "control:event.order.download" organizer=request.event.organizer.slug event=request.event.slug code=order.code output=b.identifier %}"
                                   class="btn btn-default">
                                    <span class="fa {{ b.icon }}"></span> {{ b.text }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}
    <div class="panel panel-primary items">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans "Ordered items" %}
            </h3>
        </div>
        <div class="panel-body">
            {% for line in items.positions %}
                <div class="row-fluid product-row">
                    <div class="col-md-4 col-xs-6">
                        <strong>{{ line.item.name }}</strong>
                        {% if line.variation %}
                            – {{ line.variation }}
                        {% endif %}
                        {% if line.has_questions %}
                            <dl>
                                {% if line.item.admission and event.settings.attendee_names_asked %}
                                    <dt>{% trans "Attendee name" %}</dt>
                                    <dd>{% if line.attendee_name %}{{ line.attendee_name }}{% else %}<em>{% trans "not answered" %}</em>{% endif %}</dd>
                                {% endif %}
                                {% for q in line.questions %}
                                    <dt>{{ q.question }}</dt>
                                    <dd>{% if q.answer %}{{ q.answer }}{% else %}<em>{% trans "not answered" %}</em>{% endif %}</dd>
                                {% endfor %}
                            </dl>
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-xs-6 count">
                        {{ line.count }}
                    </div>
                    <div class="col-md-3 col-xs-6 price">
                        {{ event.currency }} {{ line.price|floatformat:2 }}
                    </div>
                    <div class="col-md-3 col-xs-6 price">
                        <strong>{{ event.currency }} {{ line.total|floatformat:2 }}</strong>
                        {% if line.item.tax_rate %}
                            <br /><small>{% blocktrans trimmed with rate=line.item.tax_rate %}
                            incl. {{ rate }}% taxes
                        {% endblocktrans %}</small>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
            {% if items.payment_fee %}
                {# TODO: Tax rate? #}
                <div class="row-fluid product-row">
                    <div class="col-md-4 col-xs-6">
                        <strong>{% trans "Payment method fee" %}</strong>
                    </div>
                    <div class="col-md-3 col-xs-6 col-md-offset-5 price">
                        <strong>{{ event.currency }} {{ items.payment_fee|floatformat:2 }}</strong>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endif %}
            <div class="row-fluid product-row total">
                <div class="col-md-4 col-xs-6">
                    <strong>{% trans "Total" %}</strong>
                </div>
                <div class="col-md-3 col-xs-6 col-md-offset-5 price">
                    <strong>{{ event.currency }} {{ items.total|floatformat:2 }}</strong>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary items">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans "Payment information" %}
            </h3>
        </div>
        <div class="panel-body">
            {% if order.payment_manual %}
                <div class="alert alert-info">
                    {% trans "The payment state of this order was manually modified." %}
                </div>
            {% endif %}
            {{ payment }}
            {% if order.status == 'n' %}
                <p>{% blocktrans trimmed with date=order.expires %}
                    The payment has to be completed before {{ date }}.
                {% endblocktrans %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
