{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Email history" %}{% endblock %}
{% block content %}
    <h1>
        {% trans "Email history" %}
        <a class="btn btn-link btn-lg"
                href="{% url "control:event.order" event=request.event.slug organizer=request.event.organizer.slug code=order.code %}">
            {% blocktrans trimmed with order=order.code %}
                Back to order {{ order }}
            {% endblocktrans %}
        </a>
    </h1>
    <div>
        <ul class="list-group">
            {% for log in logs %}
                <li class="list-group-item logentry">
                    <p class="meta">
                        <span class="fa fa-fw fa-clock-o"></span> {{ log.datetime|date:"SHORT_DATETIME_FORMAT" }}
                        {% if log.user %}
                            <br/><span class="fa fa-fw fa-user"></span> {{ log.user.get_full_name }}
                        {% endif %}
                        {% if log.display %}
                            <br/><span class="fa fa-fw fa-comment-o"></span> {{ log.display }}
                        {% endif %}
                        {% if log.parsed_data.recipient %}
                            <br/><span class="fa fa-fw fa-envelope-o"></span> {{ log.parsed_data.recipient }}
                        {% endif %}
                    </p>
                    {% if log.parsed_data.message.items %}
                        <div class="alert alert-info">
                            {% blocktrans trimmed %}
                                This email has been sent with an older version of pretix. We are therefore not able to
                                display it here accurately.
                            {% endblocktrans %}
                        </div>
                        <p>
                            <strong>{% trans "Subject:" %}
                                {% for k, v in log.parsed_data.subject.items %}
                                    {% if k == order.locale %}
                                        {{ v }}
                                    {% endif %}
                                {% endfor %}
                            </strong>
                        </p>
                        <pre>{% for k, v in log.parsed_data.message.items %}{% if k == order.locale %}{{ v }}{% endif %}{% endfor %}</pre>
                    {% else %}
                        <p>
                            <strong>{% trans "Subject:" %}
                                {{ log.parsed_data.subject }}</strong>
                        </p>
                        <pre>{{ log.parsed_data.message }}</pre>
                        <ul class="list-unstyled">
                            {% comment %}
                            {# Unfortunately, we do not have reliable info whether tickets were attached. #}
                            {% if log.parsed_data.attach_tickets %}
                                <li><span class="fa fa-files-o fa-fw"></span> {% trans "Tickets" %}</li>
                            {% endif %}
                            {% endcomment %}
                            {% if log.parsed_data.attach_ical %}
                                <li><span class="fa fa-calendar-o fa-fw"></span> {% trans "Calendar invite" %}</li>
                            {% endif %}
                            {% if log.parsed_data.invoices %}
                                {% for i in log.parsed_invoices %}
                                    <li>
                                        <span class="fa fa-file-o fa-fw"></span>
                                        <a href="{% url "control:event.invoice.download" invoice=i.pk event=request.event.slug organizer=request.event.organizer.slug %}" target="_blank">
                                            {% if i.is_cancellation %}{% trans "Cancellation" context "invoice" %}{% else %}{% trans "Invoice" %}{% endif %}
                                            {{ i.number }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {% if log.parsed_data.attach_other_files %}
                                {% for f in log.parsed_other_files %}
                                    <li>
                                        <span class="fa fa-file-o fa-fw"></span>
                                        {{ f }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {% if log.parsed_data.attach_cached_files %}
                                {% for f in log.parsed_data.attach_cached_files %}
                                    <li>
                                        <span class="fa fa-file-o fa-fw"></span>
                                        {{ f }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% include "pretixcontrol/pagination.html" %}
{% endblock %}
