{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
    {% trans "Mark order as paid" %}
{% endblock %}
{% block content %}
    <h1>
        {% trans "Mark order as paid" %}
        <a class="btn btn-link btn-lg"
                href="{% url "control:event.order" event=request.event.slug organizer=request.event.organizer.slug code=order.code %}">
            {% blocktrans trimmed with order=order.code %}
                Back to order {{ order }}
            {% endblocktrans %}
        </a>
    </h1>

    <form method="post" class="form-horizontal" href="">
        {% csrf_token %}
        <p>{% blocktrans trimmed %}
            Do you really want to create a manual payment for this order?
        {% endblocktrans %}</p>
        <input type="hidden" name="status" value="p" />
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.amount layout='horizontal' %}
        {% bootstrap_field form.payment_date layout='horizontal' %}
        {% bootstrap_field form.send_email layout='horizontal' %}
        {% if form.force %}
            {% bootstrap_field form.force layout='horizontal' horizontal_label_class='sr-only' horizontal_field_class='col-md-12' %}
        {% endif %}
        <div class="form-group submit-group">
            <a class="btn btn-default btn-lg"
                    href="{% url "control:event.order" event=request.event.slug organizer=request.event.organizer.slug code=order.code %}">
                {% trans "Cancel" %}
            </a>
            <button class="btn btn-primary btn-save btn-lg" type="submit">
                {% trans "Create payment" %}
            </button>
            <div class="clearfix"></div>
        </div>
    </form>
{% endblock %}
