{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Anonymize user" %}{% endblock %}
{% block content %}
    <h1>{% trans "Anonymize user" %} {{ user.email }}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-danger btn-save">
                {% trans "Disable and anonymize user" %}
            </button>
        </div>
    </form>
{% endblock %}
