{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Create user" %}{% endblock %}
{% block content %}
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans "Create user" %}</h1>
            </div>
            <div class="panel-body">
                {% bootstrap_field form.is_active layout='control' %}
                {% bootstrap_field form.fullname layout='control' %}
                {% bootstrap_field form.locale layout='control' %}
                {% bootstrap_field form.timezone layout='control' %}
            </div>
        </fieldset>
        <fieldset class="panel panel-default">
            <div class="panel-heading">
                <legend>{% trans "Log-in settings" %}</legend>
            </div>
            <div class="panel-body">
                {% bootstrap_field form.email layout='control' %}
                {% bootstrap_field form.new_pw layout='control' %}
                {% bootstrap_field form.new_pw_repeat layout='control' %}
            </div>
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
