# Functional requirements
Django>=1.7
pytz
django-bootstrap3
-e git+https://github.com/tixl/django-formset-js.git@master#egg=django-formset-js
-e git+https://github.com/tixl/cleanerversion.git@tixl#egg=cleanerversion
django-compressor

# Deployment / static file compilation requirements
BeautifulSoup4
html5lib
slimit
lxml

# Polyfill for Python <3.4
# Remove this, when Python 3.3 support is dropped
flufl.enum

# Debugging requirements
django-debug-toolbar

# Testing requirements
pyflakes
pep8
pep8-naming
flake8
coveralls
coverage
selenium
# PyVirtualDisplay
# -e git+https://github.com/tixl/sauceclient.git@master#egg=sauceclient
# travis
