{% extends "tixlcontrol/items/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Delete item category" %}{% endblock %}
{% block inside %}
	<h1>{% trans "Delete item category" %}</h1>
	<form action="" method="post" class="form-horizontal">
		{% csrf_token %}
		<p>{% blocktrans %}Are you sure you want to the category <strong>{{ category.name }}</strong>?{% endblocktrans %}</p>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">
					{% trans "Confirm" %}
				</button>
				<a href="{% url "control:event.items.categories" organizer=request.event.organizer.slug event=request.event.slug %}" class="btn btn-default">
					{% trans "Cancel" %}
				</a>
			</div>
		</div>
	</form>
{% endblock %}
