{% extends "tixlcontrol/items/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Delete item property" %}{% endblock %}
{% block inside %}
	<h1>{% trans "Delete item property" %}</h1>
	{% if not possible %}
		<p>{% blocktrans %}You can not delete the property <strong>{{ property }}</strong> as long as the following items use it:{% endblocktrans %}</p>
		<ul>
			{% for item in dependent %}
				<li><a href="{% url "control:event.item" organizer=request.event.organizer.slug event=request.event.slug item=item.pk %}">{{ item.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<form action="" method="post" class="form-horizontal">
			{% csrf_token %}
			<p>{% blocktrans %}Are you sure you want to the property <strong>{{ property }}</strong>?{% endblocktrans %}</p>
            <div class="form-group submit-group">
                <a href="{% url "control:event.items.properties" organizer=request.event.organizer.slug event=request.event.slug %}" class="btn btn-default btn-cancel">
                    {% trans "Cancel" %}
                </a>
                <button type="submit" class="btn btn-primary btn-save">
                    {% trans "Delete" %}
                </button>
            </div>
		</form>
	{% endif %}
{% endblock %}
