{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Create a new event" %}{% endblock %}
{% block content %}
    {% if has_organizer %}
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ wizard.management_form }}
            {% bootstrap_form_errors form %}
            {% block form %}
            {% endblock %}
        </form>
    {% else %}
        <div class="alert alert-danger">
            {% trans "Every event needs to be created as part of an organizer account. Currently, you do not have access to any organizer accounts." %}
        </div>
        {% if staff_session %}
            <a href="{% url "control:organizers.add" %}" class="btn btn-default">
                {% trans "Create a new organizer" %}
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
