{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Create a new event" %}{% endblock %}
{% block content %}
	<h1>{% trans "Create a new event" %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "General information" %}</legend>
            {% bootstrap_field form.name layout="horizontal" %}
            {% bootstrap_field form.slug layout="horizontal" %}
            {% bootstrap_field form.date_from layout="horizontal" %}
            {% bootstrap_field form.date_to layout="horizontal" %}
            {% bootstrap_field form.currency layout="horizontal" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Display settings" %}</legend>
            {% bootstrap_field sform.locales layout="horizontal" %}
            {% bootstrap_field sform.locale layout="horizontal" %}
            {% bootstrap_field sform.timezone layout="horizontal" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Timeline" %}</legend>
            {% bootstrap_field form.presale_start layout="horizontal" %}
            {% bootstrap_field form.presale_end layout="horizontal" %}
        </fieldset>
        <p>
            {% blocktrans trimmed %}
                You will be able to adjust further settings in the next step.
            {% endblocktrans %}
        </p>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
