{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% block title %}{% trans "Create a new event" %}{% endblock %}
{% block content %}
	<h1>{% trans "Create a new event" %}</h1>
    {% if organizers|length == 0 %}
        <div class="alert alert-info">
            {% trans "You are not permitted to create new events in the name of any organizer." %}
        </div>
    {% else %}
        <p>{% trans "Please choose the organizer of this event from the list below." %}</p>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>{% trans "Organizer name" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for o in organizers %}
                <tr>
                    <td><strong>
                        <a href="{% url "control:events.create" organizer=o.slug %}">{{ o.name }}</a>
                    </strong></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "pretixcontrol/pagination.html" %}
    {% endif %}
{% endblock %}
